mixin heading(headingText, link, countdown, tag)
    -tagName = 'h2'
    if tag
        -tagName = tag
    if link
        - cls = 'heading--link'
    .heading(class!=cls)&attributes(attributes)
        <!{tagName} class="heading__text">
            !=headingText
        if countdown
            span.countdown(data-countdown) 3:09:09:09
        if link
            +link('See All', '#!').see-all
