include ../mixins/all

block vars
  -title = ''
  -bodyClass = ''

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no")
    link(rel="shortcut icon", href="images/favicon.png", type="image/png")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/libs.css")
    link(rel="stylesheet", href="css/grid.css")
    link(rel="stylesheet", href="css/plugins.css")
    link(rel="stylesheet", href="css/style.css")
  body(class=bodyClass)
    .wrapper
      .main-container
        include ../modules/global/manage-shop-header
        .inner
          block main
    block popup
    include ../modules/global/script
    noscript JavaScript is off. Please enable to view full site.
