@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pg1lkq');
  src:  url('fonts/icomoon.eot?pg1lkq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pg1lkq') format('truetype'),
    url('fonts/icomoon.woff?pg1lkq') format('woff'),
    url('fonts/icomoon.svg?pg1lkq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
  color: #8b929f;
}
.icon-arrow-right:before {
  content: "\e901";
  color: #8b929f;
}
.icon-arrow-up:before {
  content: "\e902";
  color: #d2daea;
}
.icon-camera:before {
  content: "\e903";
  color: #ffd100;
}
.icon-campaign:before {
  content: "\e904";
  color: #8b929f;
}
.icon-cart:before {
  content: "\e905";
  color: #ffd100;
}
.icon-check:before {
  content: "\e907";
  color: #ffd100;
}
.icon-check-in:before {
  content: "\e908";
  color: #8b929f;
}
.icon-customers:before {
  content: "\e909";
  color: #8b929f;
}
.icon-follow:before {
  content: "\e90a";
  color: #ffd100;
}
.icon-followed:before {
  content: "\e90b";
  color: #8b929f;
}
.icon-glasses:before {
  content: "\e90c";
  color: #ffd100;
}
.icon-handtilizer:before {
  content: "\e90d";
  color: #ffd100;
}
.icon-head-phone:before {
  content: "\e90e";
  color: #ffd100;
}
.icon-heart:before {
  content: "\e90f";
  color: #ffd100;
}
.icon-home:before {
  content: "\e910";
  color: #8b929f;
}
.icon-hunty-feed .path1:before {
  content: "\e911";
  color: rgb(255, 209, 0);
}
.icon-hunty-feed .path2:before {
  content: "\e912";
  margin-left: -0.7392578125em;
  color: rgb(255, 255, 255);
}
.icon-location:before {
  content: "\e913";
  color: #8b929f;
}
.icon-marketing:before {
  content: "\e914";
  color: #8b929f;
}
.icon-message:before {
  content: "\e915";
  color: #ffd100;
}
.icon-notification:before {
  content: "\e916";
  color: #8b929f;
}
.icon-order .path1:before {
  content: "\e917";
  color: rgb(139, 146, 159);
}
.icon-order .path2:before {
  content: "\e918";
  margin-left: -0.77734375em;
  color: rgb(139, 146, 159);
}
.icon-order .path3:before {
  content: "\e919";
  margin-left: -0.77734375em;
  color: rgb(255, 255, 255);
}
.icon-pant:before {
  content: "\e91a";
  color: #ffd100;
}
.icon-phone:before {
  content: "\e91b";
  color: #ffd100;
}
.icon-photo:before {
  content: "\e91c";
  color: #ffd100;
}
.icon-product:before {
  content: "\e91d";
  color: #8b929f;
}
.icon-promo:before {
  content: "\e91e";
  color: #8b929f;
}
.icon-report:before {
  content: "\e91f";
  color: #8b929f;
}
.icon-search:before {
  content: "\e920";
  color: #fff;
}
.icon-shop:before {
  content: "\e921";
  color: #fff;
}
.icon-shop-order:before {
  content: "\e922";
  color: #8b929f;
}
.icon-skin-care:before {
  content: "\e923";
  color: #ffd100;
}
.icon-sneaker:before {
  content: "\e924";
  color: #ffd100;
}
.icon-triangle-down:before {
  content: "\e928";
  color: #8b929f;
}
.icon-t-shirt:before {
  content: "\e929";
  color: #ffd100;
}
.icon-view-shop:before {
  content: "\e92a";
  color: #ffd100;
}
.icon-watch:before {
  content: "\e92b";
  color: #ffd100;
}
.icon-write:before {
  content: "\e92c";
  color: #ffd100;
}
.icon-account:before {
  content: "\e92d";
  color: #8b929f;
}
.icon-analysis:before {
  content: "\e92e";
  color: #8b929f;
}
.icon-flash-sale:before {
  content: "\e934";
  color: #ffd100;
}
.icon-close:before {
  content: "\e936";
  color: #8b929f;
}
.icon-location-arrow:before {
  content: "\e949";
  color: #ffd100;
}
.icon-arrow-next:before {
  content: "\e938";
}
.icon-arrow-solid-down:before {
  content: "\e939";
  color: #fe2070;
}
.icon-arrow-solid-up:before {
  content: "\e93a";
  color: #21d795;
}
.icon-shopping-cart:before {
  content: "\e93b";
  color: #8b929f;
}
.icon-shipping:before {
  content: "\e93c";
  color: #d2daea;
}
.icon-delivered:before {
  content: "\e93d";
  color: #d2daea;
}
.icon-brand-goolge .path1:before {
  content: "\e93e";
  color: rgb(251, 189, 0);
}
.icon-brand-goolge .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(15, 157, 88);
}
.icon-brand-goolge .path3:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(49, 170, 82);
}
.icon-brand-goolge .path4:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(60, 121, 230);
}
.icon-brand-goolge .path5:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(207, 45, 72);
}
.icon-brand-goolge .path6:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(235, 65, 50);
}
.icon-card:before {
  content: "\e944";
  color: #d2daea;
}
.icon-send:before {
  content: "\e945";
}
.icon-arrow-prev:before {
  content: "\e946";
  color: #8b929f;
}
.icon-gro-up:before {
  content: "\e947";
  color: #818694;
}
.icon-calendar:before {
  content: "\e948";
  color: #8b929f;
}
.icon-tracking:before {
  content: "\e937";
}
.icon-hamburger:before {
  content: "\e935";
}
.icon-support:before {
  content: "\e927";
}
.icon-assurance:before {
  content: "\e94a";
}
.icon-eco:before {
  content: "\e94b";
}
.icon-sale:before {
  content: "\e94c";
}
.icon-customer:before {
  content: "\e94d";
}
.icon-heart-solid:before {
  content: "\f004";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-categories:before {
  content: "\e933";
}
.icon-fb-circle .path1:before {
  content: "\e925";
  color: rgb(23, 106, 230);
}
.icon-fb-circle .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube-circle .path1:before {
  content: "\e931";
  color: rgb(202, 55, 55);
}
.icon-youtube-circle .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-star-half-empty:before {
  content: "\e906";
}
.icon-star-o:before {
  content: "\e92f";
}
.icon-star:before {
  content: "\e930";
}
