h3.temp-h3.divider#form: span Form
table.tb-temp
  thead
    tr
      td: strong Mixin
  tbody
    tr
      td
        code.highlight(data-handler="")
          span(data-copy="") +form({id: 'form_id'})
          br
          br
          | Options:
          br
          | - id
          br
          | - name == id
          br
          | - action: #
          br
          | - method: post
