h3.temp-h3.divider#custom-radio: span Custom Radio
table.tb-temp
  thead
    tr
      th: strong Mixin
      th: strong View
  tbody
    tr
      td(data-handler="")
        code.highlight(data-copy="") .fieldset: +radio({name: 'single', id: 'radio_1', text: 'Radio Single Circle'}).circle
      td
        .fieldset: +radio({name: 'single', id: 'radio_1', text: 'Radio Single'}).circle
    tr
      td(data-handler="")
        code.highlight(data-copy="") .fieldset: +radio({name: 'single', id: 'radio_11', text: 'Radio_Right'}).circle.right
      td
        .fieldset: +radio({name: 'single', id: 'radio_11', text: 'Radio_Right'}).circle.right
    tr
      td(data-handler="")
        code.highlight(data-copy="") .fieldset: +radio({name: 'single', id: 'radio_12', text: 'Radio_Right_Full_Width'}).circle.right.expanded
      td
        .fieldset: +radio({name: 'single', id: 'radio_12', text: 'Radio_Right_Full_Width'}).circle.right.expanded
    tr
      td(data-handler="")
        code.highlight(data-copy="") .fieldset: +radio({name: 'single', id: 'radio_2', text: 'Radio_Single_Square_At_Center'}).center-mode
      td
        .fieldset: +radio({name: 'single', id: 'radio_2', text: 'Radio_Single_Square_At_Center'}).center-mode
    tr
      td(data-handler="")
        code.highlight(data-copy="") .fieldset.text-center: +radio({name: 'single', id: 'radio_21', text: 'Radio_Single_Square_At_Center_Above'}).center-mode.above
      td
        .fieldset.text-center: +radio({name: 'single', id: 'radio_21', text: 'Radio_Single_Square_At_Center_Above'}).center-mode.above
    tr
      td(data-handler="")
        code.highlight(data-copy="") .fieldset.text-center: +radio({name: 'single', id: 'radio_22', text: 'Radio_Single_Square_At_Center_Below'}).center-mode.below
      td
        .fieldset.text-center: +radio({name: 'single', id: 'radio_22', text: 'Radio_Single_Square_At_Center_Below'}).center-mode.below
    tr
      td(colspan="2")
        code.highlight
          | Options:
          br
          | - type: "radio"
          br
          | - id
          br
          | - name
          br
          | - value == id
          br
          | - checked
          br
          | - text (of Label)
          br
          | - class (go with .custom-radio)

h3.temp-h3.divider#custom-Radio-list: span Custom Radio List
table.tb-temp#custom-radio-list
  thead
    tr
      th: strong Mixin
      th: strong View
  tbody
    tr
      td
        code.highlight
          | .fieldset
          br
          | &nbsp;&nbsp;+radioList([
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;{name: 'gender', id: 'rb_02', text: 'radio', checked: 'checked', class: 'circle'},
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;{name: 'gender', id: 'rb_01', text: 'radio'}
          br
          | &nbsp;&nbsp;])
      td
        .fieldset
          +radioList([
            {name: 'gender', id: 'rb_01', text: 'radio', checked: 'checked', class: 'circle'},
            {name: 'gender', id: 'rb_02', text: 'radio'}
          ])
