extends layouts/profile

block vars
	-title = 'Profile | Hunty'

block main
	main
		+goback()
		.profile
			include modules/profile/account-breadcrumb
			include modules/profile/account-sidebar
			include modules/profile/account-inner
