.product-rating
    .heading.heading--border.heading--link
        h2.heading__text Rating
        a(href="javascript:;").button.hollow #[i.icon-edit] #[span Write Review]
    .feedback
        -for(var i = 0; i < 3; i++)
            .feedback__item
                .thumb
                    img(src="images/upload/img-100-100.jpeg")
                .content
                    p.stars #[i.icon-star]#[i.icon-star]#[i.icon-star]#[i.icon-star-half-empty]#[i.icon-star-o]
                    h4.name Jessica
                    p.comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
hr.dash-full.hidden-md-up
