section.viewed_section
  .container
    .product_block
      +heading({text: 'Related Product', subText: 'View All'})
      .swiper-container(data-swiper='{"type": "productoneline", "setPositionArrows": true}')
        .swiper-wrapper
          -for (var i = 0; i < 15; i++)
            .swiper-slide
              +product('one-price', 'slideitem')
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next

section.viewed_section
  .container
    .product_block
      +heading({text: 'Similar Product', subText: 'View All'})
      .swiper-container(data-swiper='{"type": "productoneline", "setPositionArrows": true}')
        .swiper-wrapper
          -for (var i = 0; i < 15; i++)
            .swiper-slide
              +product('one-price', 'slideitem')
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next
