.product-slide
  .gallery
    // Main Slider
    .slider.thumb-slider(data-cslider='{"type": "syncing", "navFor": ".slider-nav", "view": "true", "hasPopup": true, "hasZoom": true, "smoothZoom": true}')
      .slick.slider-thumb
        .item(data-zoom-id="zoom1"): img(src="images/upload/girl1.jpg" data-zoom-image="images/upload/girl1.jpg").img-view.zoomer
        .item(data-zoom-id="zoom2"): img(src="images/upload/girl2.jpg" data-zoom-image="images/upload/girl2.jpg").img-view.zoomer
        .item(data-zoom-id="zoom3"): img(src="images/upload/girl3.jpg" data-zoom-image="images/upload/girl3.jpg").img-view.zoomer
        .item(data-zoom-id="zoom4"): img(src="images/upload/girl4.jpg" data-zoom-image="images/upload/girl4.jpg").img-view.zoomer
        .item(data-zoom-id="zoom5"): img(src="images/upload/girl5.jpg" data-zoom-image="images/upload/girl5.jpg").img-view.zoomer
        .item(data-zoom-id="zoom6"): img(src="images/upload/girl6.jpg" data-zoom-image="images/upload/girl6.jpg").img-view.zoomer
        .item(data-zoom-id="zoom7"): img(src="images/upload/girl7.jpg" data-zoom-image="images/upload/girl7.jpg").img-view.zoomer
        .item(data-zoom-id="zoom8"): img(src="images/upload/girl8.jpg" data-zoom-image="images/upload/girl8.jpg").img-view.zoomer
        .item(data-zoom-id="zoom9"): img(src="images/upload/girl9.jpg" data-zoom-image="images/upload/girl9.jpg").img-view.zoomer
        .item(data-zoom-id="zoom10"): img(src="images/upload/girl10.jpg" data-zoom-image="images/upload/girl10.jpg").img-view.zoomer
        .item(data-zoom-id="zoom11"): img(src="images/upload/girl11.jpg" data-zoom-image="images/upload/girl11.jpg").img-view.zoomer
        .item(data-zoom-id="zoom11"): img(src="images/upload/girl12.jpg" data-zoom-image="images/upload/girl12.jpg").img-view.zoomer
      span.load
      .pinchZoomWrap(data-pinchzoom='{"initUnder": 767}')
        .pinchZoomInner
          i.icon-close-solid(data-closezoom="")
          div(data-handle="")

    // Nav slider
    .slider.nav-slider(data-cslider='{"type": "syncing", "navFor": ".slider-thumb"}')
      .slick.slider-nav
        .item: img(src="images/upload/girl1_s.jpg").img-view
        .item: img(src="images/upload/girl2_s.jpg").img-view
        .item: img(src="images/upload/girl3_s.jpg").img-view
        .item: img(src="images/upload/girl4_s.jpg").img-view
        .item: img(src="images/upload/girl5_s.jpg").img-view
        .item: img(src="images/upload/girl6_s.jpg").img-view
        .item: img(src="images/upload/girl7_s.jpg").img-view
        .item: img(src="images/upload/girl8_s.jpg").img-view
        .item: img(src="images/upload/girl9_s.jpg").img-view
        .item: img(src="images/upload/girl10_s.jpg").img-view
        .item: img(src="images/upload/girl11_s.jpg").img-view
        .item: img(src="images/upload/girl12_s.jpg").img-view
      span.load
