.manage-block_shipping
	.blk-heading
		+heading('Shipping')
		p
			+link('Shipping', 'shipping.html') Edit
	.blk-shipping
		.manage-shipping__item
			-for(var i = 1; i <= 4; i++)
				.desc
					h4.wrap-title Stardard Shipping
						span.txt-desc 0.5kg - 5kg
					p 20.000 VND
