.block4
	.block4__heading
		+heading('Promotion Running ')
	.block4__thumb
		.slider(data-cslider='{"type": "variableWidth": 767}')
			.slick
				-for (var i = 0; i < 5; i++)
					.item
						+promotion('slideitem')
