.block4
	.promotion_block
		+heading('Promotion Running')
		.slider(data-cslider='{"type": "variableWidth", "setPositionArrows": true}')
			.slick
				-for (var i = 0; i < 4; i++)
					.item
						+promotion('slideitem')
			span.load
