.manage-block5
	p
		strong Add a shipping policy
	p 64% of customers look for shipping costs on the product page. Easy-to-find shipping details encourage them to shop with you.
	button.button.hollow Add shipping policy
