.manage-block4
	.promotion_block
		+heading('Promotion Running', 'Manage', '', '', 'manage-promotion.html')
		.slider(data-cslider='{"type": "promotion", "setPositionArrows": true}')
			.slick
				-for (var i = 0; i < 4; i++)
					.item
						+promotion('slideitem')
			span.load
