.block2
	.block2__routin
		.thumb
			img(src="https://i.picsum.photos/id/239/100/100.jpg", alt="")
		.desc
			p
				strong Routine
			p
				i.icon-star
				4.9 #[span(style="color: #8B929F;") (3.666 rating)]
	ul.block2__list
		li
			i.icon-eco
			span Follower: #[strong(style="color: #2C2E32;") 12.000]
		li
			i.icon-t-shirt
			span Products: #[strong(style="color: #2C2E32;") 12.000]
		li
			i.icon-message
				span Response Rate: #[strong(style="color: #2C2E32;") 99%]
	.block2__location
		p
			i.icon-check-in
			span(style="color: #8B929F;") Location
		p 123 Nguyen Thi Minh Khai, ward 2, Dist.3 HCM
		p
			+link('Title', '#') View All Location
	