.block4
	+heading('Promotion Running')
	.slider(data-cslider='{"type": "variableWidth"}')
		.slick
			-for (var i = 0; i < 10; i++)
				.item
					a(href="#"): img(src="https://picsum.photos/384/150?grayscale")
