.block4
	h2 Promotion Running
	.block4__thumb
		img(src="https://i.picsum.photos/id/1043/400/150.jpg", alt="")
		img(src="https://i.picsum.photos/id/1036/400/150.jpg", alt="")
		img(src="https://i.picsum.photos/id/133/400/150.jpg", alt="")
		img(src="https://i.picsum.photos/id/1043/400/150.jpg", alt="")
		img(src="https://i.picsum.photos/id/1043/400/150.jpg", alt="")