.manage-block3
	.chart-visitors
		.chart-desc
			.left
				p
					strong Total Visitors
				h3.wrap-title 123
					span Visitor
			.right
				i.icon-arrow-solid-up
				span(style="color: #8B929F;") 14 (+9%)
		.chart-thumb
			img(src="images/chart.jpg", alt="chart")
	.chart-sales
		.chart-desc
			.left
				p
					strong Total Sales
				h3.wrap-title 123.000.000
					span VND
			.right
				i.icon-arrow-solid-up
				span(style="color: #8B929F;") 14 (+9%)
		.chart-thumb
			img(src="images/chart.jpg", alt="chart")