.menu.hidden-sm-down
	p
		+link('Home', 'index.html')
			i.icon-home
			|	Home
	p
		+link('Order', 'shop-order.html')
			i.icon-shop-order
			|	Shop Order
	p
		+link('Categories', 'shop-categories.html')
			i.icon-categories
			|	Shop Categories
	p
		+link('Products', 'product.html')
			i.icon-product
			|	Shop Products
	p
		+link('Marketing', 'shop-marketing.html')
			i.icon-marketing
			|	Shop Marketing
	p
		+link('Customers', 'shop-customers.html')
			i.icon-customers
			|	Shop Customers
	p
		+link('Campaign', 'shop-campaign.html')
			i.icon-campaign
			|	Shop Campaign
	p
		+link('Reports', 'shop-reports.html')
			i.icon-report
			|	Reports
	p
		+link('Analysis', 'shop-analysis.html')
			i.icon-analysis
			|	Analysis