.menu
	p
		+link('Home', '#')
			i.icon-home
			|	Home
	p
		+link('Order', '#')
			i.icon-shop-order
			|	Shop Order
	p
		+link('Categories', '#')
			i.icon-categories
			|	Shop Categories
	p
		+link('Products', '#')
			i.icon-marketing
			|	Shop Products
	p
		+link('Marketing', '#')
			i.icon-support
			|	Shop Marketing
	p
		+link('Customers', '#')
			i.icon-customers
			|	Shop Customers
	p
		+link('Campaign', '#')
			i.icon-campaign
			|	Shop Campaign
	p
		+link('Reports', '#')
			i.icon-report
			|	Reports
	p
		+link('Analysis', '#')
			i.icon-analysis
			|	Analysis