.manage-static
  +heading({text: 'STATISTIC'})
  .static-chart
    .desc
      .desc-arrow
        p
          strong Total Visitors
        h3.wrap-title 123
          span Visitor
        p.w-arrow
          i.icon-arrow-solid-up
          span(style="color: #8B929F;") 14 (+9%)
      .desc-arrow
        p
          strong Total Sales
        h3.wrap-title 123
          span Visitor
        p.w-arrow
          i.icon-arrow-solid-down
          span(style="color: #8B929F;") 14 (+9%)
    p
      +link('Shop Dashboard', 'shop-dashboard.html') View Dashboard
