.navigation.hidden-md-up
	button.navigation__mobile
		i.icon-hamburger
	button.navigation__click
		i.icon-close
	.navigation__nav.clearfix
		ul
			li
				+link('Home', 'index.html')
			li
				+link('Order', 'shop-order.html')
			li
				+link('Categories', 'shop-categories.html')
			li
				+link('Products', 'product.html')
			li
				+link('Marketing', 'shop-marketing.html')
			li
				+link('Customers', 'shop-customers.html')
			li
				+link('Campaign', 'shop-campaign.html')
			li
				+link('Reports', 'shop-reports.html')
			li
				+link('Analysis', 'shop-analysis.html')
