.navigation.hidden-md-up
	button.navigation__mobile
		i.icon-hamburger
	button.navigation__click
		i.icon-close
	.navigation__nav.clearfix
		ul
			li
				+link('Home', 'index.html') Home
			li
				+link('Order', 'shop-order.html') Shop Order
			li
				+link('Categories', 'shop-categories.html') Shop Categories
			li
				+link('Products', 'product.html') Shop Products
			li
				+link('Marketing', 'shop-marketing.html') Shop Marketing
			li
				+link('Customers', 'shop-customers.html') Shop Customers
			li
				+link('Campaign', 'shop-campaign.html') Shop Campaign
			li
				+link('Reports', 'reports.html') Reports
			li
				+link('Analysis', 'analysis.html') Analysis
