.navigation
	button.navigation__mobile
		i.icon-hamburger.hidden-md-up
	button.navigation__click
		i.icon-close.hidden-md-up
	.navigation__nav.clearfix
		ul
			li
				+link('Home', 'index.html')
					i.icon-home
					|	Home
			li
				+link('Order', 'shop-order.html')
					i.icon-shop-order
					|	Shop Order
			li
				+link('Categories', 'shop-categories.html')
					i.icon-categories
					|	Shop Categories
			li
				+link('Products', 'product.html')
					i.icon-product
					|	Shop Products
			li
				+link('Marketing', 'shop-marketing.html')
					i.icon-marketing
					|	Shop Marketing
			li
				+link('Customers', 'shop-customers.html')
					i.icon-customers
					|	Shop Customers
			li
				+link('Campaign', 'shop-campaign.html')
					i.icon-campaign
					|	Shop Campaign
			li
				+link('Reports', 'reports.html')
					i.icon-report
					|	Reports
			li
				+link('Analysis', 'analysis.html')
					i.icon-analysis
					|	Analysis

