.pricing
	.pricing__head
		+heading('Plan & Pricing')
		p Pick a plan to use with your business. If you have any concern, fell free to
			span(style="color:@yellow;") CONTACT US
	.pricing__plan
		.pricing__premium
			.thumb
				img(src="images/upload/premium.png", alt="")
			.desc
				h3 29$
				h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				ul
					li highest securit
					li Modify categories
					li manage potential customers
					li Send Email & SMS marketing
				button
					a.btn Choose Plan
		.pricing__gold
			.thumb
				img(src="images/upload/gold.png", alt="")
			.desc
				h3 29$
				h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				ul
					li highest securit
					li Modify categories
					li manage potential customers
					li Send Email & SMS marketing
				button
					a.btn Choose Plan

