.pricing
	.pricing-head
		h2.heading-title Plan & Pricing
		p.hidden-sm-down Pick a plan to use with your business. If you have any concern, fell free to 
			+link('Contact Us', 'contact-us.html')(style="color: #FFD100;") CONTACT US
	.pricing-plan
		.slider(data-cslider='{"type": "pricingslide", "initUnder": 767}')
			.slick
				.item
					.pricing-below.premium
						.thumb
							img(src="images/premium.png", alt="")
						.desc
							h3.wrap-title 29$
							h4 Lorem ipsum dolor sit amet, <br class="hidden-sm-down" />consectetur adipisicing elit.
							ul
								li
									i.icon-check
									| Highest securit
								li
									i.icon-check
									| Modify categories
								li
									i.icon-check
									| manage potential customers
								li
									i.icon-check
									| Send Email & SMS marketing
							+link('Choose Plan', 'javascript:;').button.hollow
				.item
					.pricing-below.gold
						.thumb
							img(src="images/gold.png", alt="")
						.desc
							h3.wrap-title 29$
							h4 Lorem ipsum dolor sit amet, <br class="hidden-sm-down" />consectetur adipisicing elit.
							ul
								li
									i.icon-check
									| Highest securit
								li
									i.icon-check
									| Send Email & SMS marketing
							+link('Choose Plan', 'javascript:;').button.hollow
	.pricing-contact.hidden-md-up
		+link('Contact Us', 'contact-us.html') Contact Us
