.manage-heading
	+heading('Promotion')
	.routine-select.hidden-md-up
		+customSelect({id: 'routine'}, [
			{value: '', text: 'Routine'},
			{value: 'Routine 1', selected: 'selected'},
			{value: 'Routine 2'}
			])
		i.icon-shop