extends layouts/create-shop

block vars
  -title = 'Add First Product 1 | Hunty'

block main
  main
    +goback()
    include modules/create-shop/banner
    include modules/create-shop/add-product-1

