//- extends layouts/create-shop
extends layouts/layout

block vars
  -title = 'Add First Product 2 | Hunty'
  -hidenHeaderOnMobile = true

block main
  main
    +goback()
    include modules/create-shop/banner
    include modules/create-shop/add-product-2

