extends layouts/checkout

block vars
  -title = 'Payment | Hunty'
  -checkoutStep = 3

block main
  main.checkout
    .container
      .row_wrap
        .primary
          .checkout__heading
            h1.checkout__title Payment Method
          .checkout_payment
            ul.checkout_payment__list
              li
                .radio.circle
                  input(type="radio" name="cash_id" id="cash_id" value="Payment cash" checked="checked")
                  label(for="cash_id")
                    .thumb: +img("payment-cash.png", "Cash")
                    .content
                      |Cash  on Delivery
                      span Dissount 3% until 31/03

                  i.icon-check

              li
                .radio.circle
                  input(type="radio" name="cash_id" id="visa_id" value="Payment Visa")
                  label(for="visa_id")
                    .thumb: +img("payment-visa.png", "Visa")
                    .content
                      |Cash  on Delivery
                      span Dissount 3% until 31/03

                  i.icon-check
              li
                .radio.circle
                  input(type="radio" name="cash_id" id="atm_id" value="Payment ATM")
                  label(for="atm_id")
                    .thumb: +img("payment-atm.png", "ATM")
                    .content
                      |Cash  on Delivery
                      span Dissount 3% until 31/03

                  i.icon-check
              li
                .radio.circle
                  input(type="radio" name="cash_id" id="momo_id" value="Payment MoMo")
                  label(for="momo_id")
                    .thumb: +img("payment-momo.png", "MoMo")
                    .content
                      |Cash  on Delivery
                      span Dissount 3% until 31/03

                  i.icon-check
              li
                .radio.circle
                  input(type="radio" name="cash_id" id="payoo_id" value="Payment Payoo")
                  label(for="payoo_id")
                    .thumb: +img("payment-payoo.png", "Payoo")
                    .content
                      |Cash  on Delivery
                      span Dissount 3% until 31/03

                  i.icon-check
        .sidebar
          .checkout_summary
            h3.checkout_summary__title.hidden-sm-down Order Summary
            table.checkout_summary__table
              tr
                td.label Fee
                td.value 100.000 VND
              tr
                td.label Delivery Fee
                td.value 20.000 VND
              tr
                td.label Packet Fee
                td.value 100.000 VND

          .order_total
            .order_total__inner
              .total_text Total
              .price 1.120.000 VND
            .order_total__next: button(type="button").button Next








