extends layouts/checkout

block vars
	-title = 'Checkout | Hunty'

block main
	main
		.container
			.checkout.checkout--completed
				.checkout__inner
					.checkout__primary
						.checkout_orderid
							h1.checkout__title Your Order Id
							.checkout_orderid__number
								strong 95794194
								+link('Copy', 'javascript;:')
									i.icon-flash-sale
									span Copy
							
						.checkout_list
							h3.checkout__title Order Details
							.checkout_list__inner
								-for (var i = 0; i < 3; i++)
									+cartItem1()
						.checkout_address
							h3.checkout__title Delivery Address
							.checkout_address__list
								.checkout_address__item
									p.checkout_address__namePhone
										span.name Phan Chinh 
										span.phone 0938528813
									p.checkout_address__detail Địa chỉ: QTSC 9, Công viên phần mềm Quang Trung, P. Tân Chánh Hiệp, Q.12, TP.HCM, Việt Nam, Phường Tân Chánh Hiệp, Quận 12, Hồ Chí Minh Việt Nam
					
					.checkout__sidebar
						.checkout_summary
							h3 Payment
							table.checkout_summary__table
								tr: caption Cash on Delivery
								tr 
									td.summary_label Fee
									td.summary_value 100.000 VND
								tr
									td.summary_label Delivery Fee 
									td.summary_value 20.000 VND
								tr
									td.summary_label Packet Fee
									td.summary_value 100.000 VND
							+link('Back to Home', "index.html")





	


							
