//- extends layouts/create-shop
extends layouts/layout

block vars
  -title = 'Create Shop | Hunty'
  -hidenHeaderOnMobile = true

block main
  main
    +goback()
    include modules/create-shop/banner
    include modules/create-shop/create-shop-form

