extends layouts/layout

block vars
	-title = 'Edit Profile | Hunty'
	-hidenHeaderOnMobile = true
	-navMobile = 'profile'

block main
	main
		+goback()
		.profile
			.container
				.profile-edit
					include modules/profile/account-information
