extends layouts/layout

block vars
	-title = 'Hunty feed | Hunty'
	-hidenHeaderOnMobile = true

block main
	main
		.container
			include modules/global/header_mb
			+breadcrumbs([ { title: 'Home', href: 'index.html', text: 'Home' }, { text: 'Hunty Feed' }, ]).hidden-sm-down
			.hunty_feed.row_wrap.pusher_b70
				.primary
					+heading('Product List', '', '', 'h1').hidden-sm-down.heading--border
					.product_list
						-for (var i = 0; i < 12; i++)
							+product('two-price-cart').product--promo
				.sidebar.hidden-sm-down
					.heading: h2.heading__text  Promotinons
					include modules/index/banner_promo


block popup
	include modules/index/login-popup
