extends layouts/layout

block vars
    -title = 'Homepage'
    -bodyClass = 'home'

block main
    main
        include modules/index/banner
        include modules/index/category-icons
        include modules/index/flash-sale
        include modules/index/promotion_block
        include modules/index/viewed-product
        include modules/index/categories_block
        include modules/index/customer-service
