extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'

block main
  main
    section.banner
        .container
            .banner__inner
                .banner__slider
                    +img-upload('banner.png')
                .banner__promo.hidden-md-down
                    +link('Image', '#')
                        +img-upload('promo_1.png')
                    +link('Image', '#')
                        +img-upload('promo_2.png')
                    +link('Image', '#')
                        +img-upload('promo_3.png')

    section.category_icons
         .container
            ul.category_icons__list
                li: +link('T-shirt', '#')
                    span.icon: +img('ic_t_shirt.png')
                    span.text T-shirt 
                li: +link('Accessories', '#')
                    span.icon: +img('ic_glasses.png')
                    span.text Accessories
                li: +link('Phone', '#')
                    span.icon: +img('ic_phone.png')
                    span.text Phone
                li: +link('Head Phone', '#')
                    span.icon: +img('ic_head_phone.png')
                    span.text Head Phone
                li: +link('Handtilizer', '#')
                    span.icon: +img('ic_handtilizer.png')
                    span.text Handtilizer
                li: +link('Skin Care', '#')
                    span.icon: +img('ic_skin_care.png')
                    span.text Skin Care
                li: +link('Sneaker', '#')
                    span.icon: +img('ic_sneaker.png')
                    span.text Sneaker
                li: +link('Watch', '#')
                    span.icon: +img('ic_watch.png')
                    span.text Watch
                li: +link('Camera', '#')
                    span.icon: +img('ic_camera.png')
                    span.text Camera
                li: +link('Pant', '#')
                    span.icon: +img('ic_pant.png')
                    span.text Pant

    section
        .container
            .product_block
                .product_block__header
                    .inner
                        +heading('FLA<i class="icon-flash-sale"></i>H SALE', 'See All', 'countdown')
                .slider.single-slider(data-cslider='{"type": "variableWidth"}')
                    .slick
                        -for (var i = 0; i < 15; i++)
                            .item
                                +product('progress', 'slideitem')

    section.banner__promoMb.hidden-sm-up
        .container
            .banner__promo__slider
            +link('Image', '#'): +img-upload('promo_1.png')

    section.promotion_block
        .container
                +heading('Recommended Promotion ', 'See All')
        .promotion_block__inner
            .container
                .slider(data-cslider='{"type": "variableWidth", "initUnder": "767"}')
                    .slick
                        -for (var i = 0; i < 4; i++)
                            .item
                                +promotion('slideitem')

    section.promotion_block
        .container
            +heading('Promotion Near You ', 'See All')
        .promotion_block__inner
            .container
                .slider(data-cslider='{"type": "variableWidth", "initUnder": 767}')
                    .slick
                        -for (var i = 0; i < 4; i++)
                            .item
                                +promotion('slideitem')