extends layouts/layout

block vars
  -title = 'Product Details | Hunty'
  -hidenHeaderOnMobile = true
  -hidenFooterOnMobile = true

block main
  main.pusher_b70
    +goback().goback--white
    section.product-section
      .container
        +breadcrumbs([{ title: 'Home', href: 'index.html', text: 'Home' }, { title: 'Category', href: 'search.html', text: 'Category' }, { text: 'Product Name' }]).hidden-sm-down
        .product-wrapper
          include modules/product/slide
          include modules/product/details
        +shopInfo('product')
        .description-wrapper
          include modules/product/description
          include modules/product/rating
    include modules/product/related