extends layouts/layout

block vars
  -title = 'Product Details | Hunty'
  -hidenHeaderOnMobile = true
  -hidenFooterOnMobile = true

block main
  main
    +goback().goback--white
    section.product-section
      .container
        +breadcrumbs([{ title: 'Home', href: 'index.html', text: 'Home' }, { title: 'Category', href: 'search.html', text: 'Category' }, { text: 'Product Name' },])
        .product-wrapper
          include modules/product/slide
          include modules/product/details
        include modules/global/shop-info
        .description-wrapper
          include modules/product/description
          include modules/product/rating
    include modules/index/viewed-product