extends layouts/layout

block vars
  -title = 'Product Details | Hunty'
  -hidenHeaderOnMobile = true
  -hidenFooterOnMobile = true

block main
  main
    +goback().goback--white
    .container
      +breadcrumbs([{ title: 'Home', href: 'index.html', text: 'Home' }, { title: 'Category', href: 'search.html', text: 'Category' }, { text: 'Product Name' },])
      .product-wrapper
        .gallery-block
          include modules/product/slide
        .main-info
          include modules/product/details
      .shop-info
        include modules/global/shop-info
      .product-description
        .description
          include modules/product/description
        .rating-block
          include modules/product/rating