extends layouts/layout

block vars
  -title = 'Promotion | Hunty'
  -hidenHeaderOnMobile = true
  -hidenFooterOnMobile = true

block main
  main.pusher_b70
    +goback().goback--white
    section.promotion_banner
      +img-upload('banner_shop.jpg').hidden-sm-down
      +img-upload('banner_shop_mb.jpg').hidden-md-up
    section.promotion_container
      .container
        .promotion_inner.row_wrap
          .primary
            .heading: h1.heading__text Lotte Mart disscount 30%
            .product_list
              -for (var i = 0; i < 12; i++)
                +product('two-price-cart').product--promo
          .sidebar
            .promotion_shop
              .shop_item
                .shop_avt
                  +img-upload('shop.png')
                .shop_desc
                  h3.shop_title Lotte Mart
                  .shop_location
                    i.icon-location
                    span 1.3km from you
              .button_inner
                +link("Follow Shop", "javascript:;").button.hollow.hidden-sm-down#followShop
                  i.icon-heart
                  span Follow Shop
                +link("View Shop", "shop.html").button.hollow
                  i.icon-shop.hidden-sm-down
                  span View Shop

    section.promotion_section
      .container
        +heading({text: 'Recommended Promotion ', subText: 'See All', url: 'promotion.html'})
      .promotion_section__inner
        .container
          include modules/index/promotion_block
    section.floating_bar.fixedBottom.hidden-md-up
      .view-cart-inner
        .view-cart-text
          +link("View Cart", "cart.html") View Cart
          span.count (13 items)
        .price-total
          span.price.price__current 2.120.000 VND
