extends layouts/layout

block vars
  -title = 'Recruitement | Hunty'

block main
  main
    .container
      .editor
        h1 Recruitement
        h2 Title h2
        h3 Title h3
        h4 Title h4
        h5 Title h5
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus natus, aliquam illo consequuntur quaerat quo tenetur atque odit ad recusandae, fuga ducimus molestias, soluta in eos veniam illum fugit?
        ul
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam repudiandae veniam, ut quia officiis incidunt minima tempore expedita. Dicta, maxime.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vitae commodi sed ipsam ullam iusto debitis nemo, explicabo expedita ab saepe cumque nobis, laborum, inventore distinctio officiis eligendi quisquam totam facere corporis asperiores deleniti libero. Voluptate quasi est adipisci praesentium, saepe veniam debitis commodi maxime eius iste quo quis molestias.
        ol
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, voluptatibus.
          li Lorem ipsum dolor sit amet, consectetur adipisicing.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa architecto nulla sapiente maiores in magnam molestias reiciendis maxime velit numquam ex minus soluta pariatur distinctio porro deleniti nobis id, nisi facere repudiandae! Quibusdam expedita officiis saepe sunt accusamus. Iusto, vel!
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis impedit voluptas quibusdam numquam at error voluptates optio, doloribus itaque provident alias qui dolores tenetur eius. Eaque, quisquam dicta voluptate. Esse placeat, laudantium maiores rerum odio voluptas maxime, dolorum. Ipsa magnam est deserunt totam rem, sapiente incidunt aliquid, alias delectus tenetur ea distinctio repudiandae eveniet aut necessitatibus, numquam nulla blanditiis dicta.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium soluta aperiam rerum eaque! Amet nostrum officia dolore, doloribus voluptatum. Commodi, illum? Repellendus perferendis, est praesentium!
