extends layouts/layout

block vars
	-title = 'Search | Hunty'

block main
	main.search_results
		.container
			+breadcrumbs([ { title: 'Home', href: 'index.html', text: 'Home' }, { text: 'Searched text...' }])
			.product-listing-wrap
				.filter
					.filter__inner
						.results
							+heading('Giay Vans <span class="count">(12 results)</span>')
						.product-type
							.product-type__list
								.product-type__selected.hidden-md-up
									span.sort-by Related
									i.icon-caret-down
								ul.product-navs
									li.active: +link('Related', 'javascript:;')
									li: +link('Best Seller', 'javascript:;')
									li: +link('Best Price', 'javascript:;')
									li: +link('About to Expired', 'javascript:;')

				.product-listing
					-for (var i = 0; i < 14; i++)
						+product('one-price')

				include modules/index/promotion_block
				+pagination()
