extends layouts/layout

block vars
	-title = 'Shop | Hunty'
	-hidenHeaderOnMobile = true
	-hidenFooterOnMobile = true

block main
	main.shop 
		+goback().goback--white
		.container
			+breadcrumbs([ { title: 'Home', href: 'index.html', text: 'Home' }, { title: ' Shop', href: ' shop.html', text: ' Shop' }, { text: 'Lotte Mart' }, ]).hidden-sm-down
			.shop__banner
				+img-upload('shop_banner.jpg').hidden-sm-down
				+img-upload('shop_banner_mb.jpg').hidden-md-up

			+shopInfo()
			.shop__wrap.row_wrap
				.primary
					include modules/global/product-sale-unsale-all
				.sidebar.hidden-sm-down
					.heading: h2.heading__text  Promotions
					include modules/index/banner_promo
