extends layouts/manage-shop

block vars
	-title = 'Shop Management'

block main
	main
		.management
			.management__left
				include modules/manage-shop/list-menu
			.management__right
				include modules/manage-shop/block-1
				include modules/manage-shop/block-2
				include modules/manage-shop/block-3
				include modules/manage-shop/block-4
				include modules/manage-shop/block-5
