extends layouts/manage-shop

block vars
	-title = 'Shop Management | Hunty'

block main
	main
		+goback()
		.shop-wrap
			.shop-wrap__inner
				.shop-wrap__left
					include modules/manage-shop/navigation
				.shop-wrap__right
					include modules/manage-shop/block-1
					.shop-info__banner.hidden-md-up
						img(src="https://i.picsum.photos/id/119/800/530.jpg", alt="")
					+shopInfo()
					include modules/manage-shop/block-3
					include modules/manage-shop/block-4
					include modules/manage-shop/block-5
			.shop-wrap__bottom
