extends layouts/layout

block vars
	-title = 'Shop | Hunty'

block main
	main
		.container
			+breadcrumbs([ { title: 'Home', href: 'index.html', text: 'Home' }, { title: ' Shop', href: ' shop.html', text: ' Shop' }, { text: 'Lotte Mart' }, ])
			.shop-

block popup
	include modules/index/login-popup
