extends layouts/sitemap

block main
  +rowTitle('Guide')
  +rowContentList([
    {
      name: 'Style Guide - Chinh + Yến',
      link: '/temp-style-guide.html',
      progress: '70'
    },
    {
      name: 'Setup javascripts',
      link: '-',
      progress: '5'
    }
  ])
  +rowTitle('Pages')
  +rowContentList([
    {
      name: 'Yến',
      link: '/index.html',
      progress: '40'
    },
    {
      name: '',
      link: '/search.html',
      progress: '0'
    },
    {
      name: '',
      link: '/promotion.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop.html',
      progress: '0'
    },
    {
      name: 'Chinh',
      link: '/product.html',
      progress: '0'
    },
    {
      name: '',
      link: '/profile.html',
      progress: '0'
    },
    {
      name: '',
      link: '/hunty-feed.html',
      progress: '0'
    },
    {
      name: '',
      link: '/notification.html',
      progress: '0'
    },
    {
      name: '',
      link: '/notification.html',
      progress: '0'
    },
    {
      name: 'Ngân',
      link: '/create-shop.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: '/shop-management.html',
      progress: '90'
    },
    {
      name: '',
      link: '/shop-management-plan-pricing.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop-order.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop-order-infoh.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop-categories.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop-customers.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop-campaign.html',
      progress: '0'
    },
    {
      name: '',
      link: '/reports.html',
      progress: '0'
    },
    {
      name: '',
      link: '/analysis.html',
      progress: '0'
    },
    {
      name: '',
      link: '/shop-marketing.html',
      progress: '0'
    }
  ])
