extends layouts/sitemap

block main
  +rowTitle('Guide')
  +rowContentList([
    {
    name: 'Style Guide',
    link: '/temp-style-guide.html',
      progress: '100'
    }
  ])
  +rowTitle('Pages')
  +rowContentList([
    {
      name: 'Index',
      link: '/index.html',
      progress: '0'
    },
    {
      name: 'Search',
      link: '/search.html',
      progress: '0'
    },
    {
      name: 'Promotion',
      link: '/promotion.html',
      progress: '0'
    },
    {
      name: 'Shop',
      link: '/shop.html',
      progress: '0'
    },
    {
      name: 'Product',
      link: '/product.html',
      progress: '0'
    },
    {
      name: 'Profile',
      link: '/profile.html',
      progress: '0'
    },
    {
      name: 'Hunty Feed',
      link: '/hunty-feed.html',
      progress: '0'
    },
    {
      name: 'Notification',
      link: '/notification.html',
      progress: '0'
    },
    {
      name: 'Notification',
      link: '/notification.html',
      progress: '0'
    },
    {
      name: 'Create Shop',
      link: '/create-shop.html',
      progress: '0'
    },
    {
      name: 'Shop Management',
      link: '/shop-management.html',
      progress: '0'
    }
  ])
