extends layouts/sitemap

block main
  +rowTitle('Guide')
  +rowContentList([
    {
      name: 'Style Guide - Chinh',
      link: 'temp-style-guide.html',
      progress: '100'
    },
    {
      name: 'Setup javascripts',
      link: '',
      progress: '80'
    }
  ])
  +rowTitle('Pages')
  +rowContentList([
    {
      name: 'Yến',
      link: 'index.html',
      progress: '99'
    },
    {
      name: 'Yến',
      link: 'search.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'promotion.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'cart.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'checkout-delivery.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'checkout-payment.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'checkout-complete.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'shop.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'hunty-feed.html',
      progress: '90'
    },
    {
      name: 'Chinh',
      link: 'product.html',
      progress: '90'
    },
    {
      name: 'Yến',
      link: 'notification.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'create-shop.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'add-product-1.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'add-product-2.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'shop-management.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'shop-management-plan-pricing.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'shop-order.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'shop-order-info.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'profile.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'edit-profile.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'history-check.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'my-order.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'my-followed.html',
      progress: '90'
    },
    {
      name: 'Ngân',
      link: 'my-promotion.html',
      progress: '90'
    },
    {
      name: 'Ko có design',
      link: 'shop-order-info.html',
      progress: '0'
    },
    {
      name: 'Ko có design',
      link: 'shop-categories.html',
      progress: '0'
    },
    {
      name: 'Ko có design',
      link: 'shop-customers.html',
      progress: '0'
    },
    {
      name: 'Ko có design',
      link: 'shop-campaign.html',
      progress: '0'
    },
    {
      name: 'Ko có design',
      link: 'reports.html',
      progress: '0'
    },
    {
      name: 'Ko có design',
      link: 'analysis.html',
      progress: '0'
    },
    {
      name: 'Ko có design',
      link: 'shop-marketing.html',
      progress: '0'
    },
    {
      name: '',
      link: 'policy.html',
      progress: '90'
    },
    {
      name: '',
      link: 'terms.html',
      progress: '90'
    },
    {
      name: '',
      link: 'contact-us.html',
      progress: '90'
    },
    {
      name: '',
      link: 'faqs.html',
      progress: '90'
    },
    {
      name: '',
      link: 'recruitement.html',
      progress: '90'
    },
    {
      name: '',
      link: 'introduce.html',
      progress: '90'
    },
    {
      name: '',
      link: 'call-center.html',
      progress: '90'
    }
  ])
