// Block
.banner {
	@media(min-width: 768px) {
		&__inner {
			margin-top: 2px;
			position: relative;
		}
		&__slider {
			position: relative;
			width: 890px;
			height: 375px;
			z-index: 1;
			box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
			.slick-dots {
				margin-top: -28px;
				position: relative;
					z-index: 1;
			}
		}
		&__promo {
			.position(0 0 0 null);
			width: 300px;
			padding-left: 20px;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			z-index: 1;
			a {
				display: block;
				margin-bottom: 20px;
			}
		}
	}
	@media(max-width: 767px) {
		.slick-arrow {
			display: none !important;
		}
		.slick-dots {
			height: 3px;
			background-color: #D2DAEA;
			li {
				width: 33%;
				button {
					.size(100%, 3px);
					margin: 0;
				}
			}
			.slick-active {
				button {
					background-color: #FFD338;
				}
			}
		}
	}
}

// Category Icon
.category_icons {
	padding: 15px 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		li {
			margin: 10px 0;
			width: calc(~"100% / 5 - 5px");
		}
		a {
			display: block;
			color: #2C2E32;
			font-size: 11px;
			line-height: 1.4;
			&:hover,
			&.active {
				.icon {
					background-color: #F4F7FC;
				}
			}
		}
		.icon {
			margin: 0 auto 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			.size(50px);
			background-color: #fff;
			box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
			border-radius: 12px;
			border: 1px solid #F4F7FC;
			text-align: center;
			transition: background-color 150ms ease;
			img {
				max-width: 80%;
				max-height: 50%;
			}
		}
	}
	@media(min-width: 768px) {
		&__list {
			li {
				width: calc(~"100% / 10 - 5px");
			}
		}
	}
	@media(min-width: 992px) {
		padding: 20px 0;
		&__list {
			.icon {
				margin-bottom: 10px;
				.size(70px);
			}
		}
	}
	@media(min-width: 1200px) {
		&__list {
			a {
				font-size: 16px;
			}
			.icon {
				.size(94px);
				img {
					max-width: 100%;
					max-width: 100%;
				}
			}
		}
	}
}

// Product List
.product_block {
	.product {
	}
	.slider {
		width: auto;
		padding: 0 15px;
		margin: 0 -15px;
	}
	.item {
		padding: 10px;
	}
	.slick-list {
		margin: 0 -15px;
		padding-left: 5px;
		padding-right: 50px;
	}
	@media(min-width: 768px) {
		margin-bottom: 30px;
		.slick-list {
			padding-right: 70px;
		}
		.item {
		}
	}
	@media(min-width: 1200px) {
		padding: 20px 0 20px 20px;
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
		border-radius: 5px;
		.slider {
			padding: 0;
			margin: 0;
		}
		.slick-list {
			margin: 0 -10px;
			padding-left: 0;
		}
	}
}


// Banner promo mobile
.banner__promoMb {
	padding: 15px 0 10px;
	img {width: 100%;}
}

// Recommended Promotion
.promotion_block {
	padding: 20px 0;
	border-bottom: 5px solid #F5F6F8;
	.slider {
		padding: 0 15px;
		margin: 0 -15px;
		width: auto;
	}
	.slick-list {
		margin: 0 -15px;
		padding-left: 5px;
		padding-right: 50px;
	}
	.item {
		padding: 0 10px;
	}
	@media (min-width: 768px) {
		border-bottom: 0;
		margin-bottom: 0;
		&__inner {
			padding: 20px 0;
			background-color: #F8FAFF;
		}
		.slider {
			padding: 0;
			margin: 0;
			width: 100%;
		}
		.slick {
			display: flex;
			justify-content: space-between;
		}
		.slick-list {
			padding: 0;
			margin: 0;
		}
		.item {
		}
		.promotion {
			width: 100%;
		}
	}
}

// Viewed Product
.viewed_products {
	padding: 20px 0;
	.slider {
		padding: 0 15px;
		margin: 0 -15px;
		width: auto;
	}
	.slick-list {
		margin: 0 -15px;
		padding-right: 50px;
	}
	.slick-track {
		padding-top: 5px;
	}
	.item {
		padding: 0 10px;
	}
	@media(min-width: 768px) {
		margin-bottom: 30px;
		padding: 20px 0 20px 20px;
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
		border-radius: 5px;
		.heading {
			padding-right: 20px;
		}
		.slider {
			width: 100%;
			padding: 0;
			margin: 0;
		}
		.slick-list {
			padding-right: 50px;
		}
	}
	@media(min-width: 992px) {
		.slider {
			width: 100%;
			padding: 0;
			margin: 0;
		}
		.slick-list {
			padding-right: 70px;
		}
	}
}

// Categories Block
.categories_block {
	background-color: #F8FAFF;
	padding: 15px 0;
	&__list {
		.slider {
			width: auto;
			padding: 0 15px;
			margin: 0 -15px;
		}
		.slick-list {
			padding-right: 30px;
		}
		.item {
			padding: 5px 5px 5px 0;
			border-radius: 3px;
		}
		a {
			position: relative;
			display: block;
			padding: 10px 10px 10px 40px;
			font-size: 12px;
			color: #000;
			background-color: #fff;
			box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
			&:before {
				.position(50% null null 10px);
				.translateY(-50%);
				.fonticon();
				content: "\e929";
				color: #FFD100;
				font-size: 15px;
			}
			&:hover {
				background-color: @yellow;
				&:before {
					color: @color01;
				}
			}
		}
	}
	@media(min-width: 768px) {
		&__list {
			.slider {
				width: 100%;
				padding: 0;
				margin: 0;
			}
			.slick {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			.slick-list {
				padding-right: 0;
			}
			.item {
				padding: 0;
				margin: 10px 0;
				width: calc(~"100% / 4 - 5px");
			}
		}
	}
	@media(min-width: 992px) {
		&__list {
			.item {
				width: calc(~"100% / 6 - 15px");
				&:hover {
					background-color: #F4F7FC;
				}
			}
			a {
				padding: 15px 15px 15px 50px;
				font-size: 14px;
				&:before {
					left: 15px;
					font-size: 24px;
				}
			}
		}
	}
}


// cs_block
.cs_block {
	padding: 25px 0;
	text-align: center;
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border: 1px solid #EBF0F9;
		background-color: #fff;
	}
	&__item {
		padding: 15px;
		width: calc(~"100% / 2");
		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto 10px;
			.size(50px);
			border-radius: 50%;
			background-color: #D6DCE9;
		}
		i {
			color: #fff;
			font-size: 25px;
		}
		h4 {
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.4;
			font-size: 10px;
			color: #000;
		}
	}
	@media(min-width: 768px) {
		&__item {
			padding: 40px 30px;
			width: calc(~"100% / 5");
			& + .cs_block__item {
				border-left: 1px solid #EBF0F9;
			}
			.icon {
				.size(90px);
			}
			i {
				font-size: 50px;
			}
			h4 {
				font-size: 14px;
			}
		}
	}
	@media(min-width: 992px) {
		&__item {

		}
	}
	@media(max-width: 767px) {
		&__item {
			&:nth-child(2n + 2) {
				border-left: 1px solid #EBF0F9;
			}
			&:last-of-type {
				width: 100%;
			}
			& + .cs_block__item {
				border-top: 1px solid #EBF0F9;
			}
		}
	}
}
