// Block
.banner {
	@media(min-width: 768px) {
		&__inner {
			padding: 2px 0;
			display: flex;
			justify-content: space-around;
		}
		&__slider {
			flex: 1 0 0%;
			box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
		}
		&__promo {
			width: 280px;
			margin-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			a {
				display: block;
				& + a {
					margin-top: 20px;
				}
			}
		}
	}
}
