
// cart
.cart {
	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		padding-bottom: 15px;
		padding-right: 25px;
		border-bottom: 1px solid @color03;
		.thumb {
			margin-bottom: 0;
			box-shadow: none;
			width: 90px;
			height: auto;
			margin-right: 12px;
			line-height: 1;
		}
		.content {
			flex: 1 0 0%;
		}
	}
	@media(min-width: 768px) {
		&__inner {
			display: flex;
			justify-content: space-between;
		}
		&__primary {
			padding: 20px;
			.flex(1 0 0%);
			background-color: #f4f4f4;
			border-radius: 3px;
		}
		&__sidebar {
			padding: 20px;
			width: 30%;
			background-color: #f4f4f4;
			border-radius: 3px;
			margin-left: 20px;
		}
	}
	@media(max-width: 767px) {
		padding-bottom: 150px;
	}
}

// Coupon Code
.coupon_code {
	label {
		margin-bottom: 10px;
		display: block;
		font-size: 16px;
		text-transform: uppercase;
		color: #8B929F;
	}
	.custom-input {
		button {
			border: none;
			min-width: 100px;
			margin-left: 20px;
		}
		input {
			background: #FFFEF8;
			border: 1px dashed #FFD100;
		}
	}
	@media(min-width: 768px) {
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
		margin-bottom: 40px;
	}
}

.cartSubtotal {
	color: #333;
	&__inner {
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: bold;
	}
	&__text {
		font-size: 16px;
	}
	&__total {
		font-size: 20px;
	}
	&__next {
		button {width: 100%;}
	}
	@media(min-width: 768px) {
		
	}
	@media(max-width: 767px) {
		padding: 20px;
		.position(fixed, null 0 0 0);
		background: #fff;
		box-shadow: 0px -3px 8px rgba(41, 44, 53, 0.1);
		z-index: 100;
	}
}

