.relative {position: relative;}

// Heading
.goback {
  .position(15px null null 15px);
  .link-color(#8B929F, #8B929F);
  .font-size(25px);
}

// Panigation
.pagination {
  display: inline-block;
  &:extend(.clearfix all);
  li {
    float: left;
    margin: 0 5px;
    text-align: center;
    &.number {
      ul {
        margin: 0 -5px;
      }
    }
    &.active {
      a {
        color: white;
        background-color: @yellow;
      }
    }
    a {
      display: block;
      .size(30px);
      .font-size(14px);
      color: #8B929F;
      border: 1px solid #D2DAEA;
      line-height: 30px;
      .transition(all .3s ease);
      &:hover {
        background-color: lighten(@yellow, 5%);
      }
      i {
        line-height: 30px;
      }
    }
    &.unavailable {
      pointer-events: none;
      span {
        line-height: 24px;
      }
    }
  }
  .number {
    a {
      span {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    .prev-page {
      float: left;
    }
    .next-page {
      float: right;
    }
    .number {
      display: block;
      float: none;
      overflow: hidden;
      li {
        display: none;
        &.active {
          display: inline-block;
          float: none;
        }
      }
      a {
        span {
          display: inline;
        }
      }
    }
  }
}
