
// flashsale-section
.flashsale_section {
  padding: 20px 0 10px;
  margin-bottom: 20px;
  background-color: #F4F7FC;
  &__outer {
    margin: 0 -5px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    margin-bottom: 20px;
    width: calc(~"50% - 10px");
    margin: 0 5px 20px;
  }
  @media (min-width: 576px) {
    .product {
      width: calc(~"100% / 3 - 10px");
    }
  }
  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 25px;
    background-color: transparent;
    .product {
      width: calc(~"100% / 4 - 10px");
    }
  }
  @media (min-width: 992px) {
    .product {
      width: calc(~"100% / 5 - 10px");
    }
  }
  @media (min-width: 1200px) {
    &__outer {
      margin: 0 -10px;
    }
    .product {
      width: calc(~"100% / 7 - 20px");
      margin: 0 10px 25px;
    }
  }
}

// Recommended Promotion
.promotion_section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 5px solid #F5F6F8;
  @media (min-width: 768px) {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 25px;
    &__inner {
      padding: 20px 0;
      background-color: #F8FAFF;
    }
  }
}

.viewed_section {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 25px;
  }
}
