
// Banner promo mobile
.banner__promoMb {
	padding: 15px 0 10px;
	img {width: 100%;}
}

// Recommended Promotion
.promotion_section {
	padding: 20px 0;
	border-bottom: 5px solid #F5F6F8;
	@media (min-width: 768px) {
		border-bottom: 0;
		margin-bottom: 0;
		&__inner {
			padding: 20px 0;
			background-color: #F8FAFF;
		}
	}
}
