/* Product Section */
.product-section {}
/* End Product Section */

/* Product Main Info */
.product-wrapper {
    .transition(all 120ms ease);
    @media (min-width: 768px) {
        display: flex;
    }
}
.product-slide {}
.product-details {}
/* End Product Main Info */

/* Product Description */
.description-wrapper {}
.product-description {
    .editor {
        padding: 0 0 30px;
    }
    @media (min-width: 768px) {
        .editor {
            padding-bottom: 0;
        }
    }
}
.product-rating {}
/* End Product Description */