/* Product Section */
.product-section {}
/* End Product Section */

/* Product Main Info */
.product-wrapper {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}
.product-slide {
    .thumb-slider {
        margin-bottom: 10px;
    }
    .nav-slider {
        .slick-arrow {
            .size(20px);
            &:before {
                font-size: 14px;
            }
        }
    }
    @media (min-width: 768px) {
        width: calc(~"50% - 10px");
        .thumb-slider {
            margin-bottom: 15px;
        }
        .nav-slider {
            .slick-arrow {
                .size(24px);
                &:before {
                    font-size: 16px;
                }
            }
        }
    }
}
.product-details {
    @media (min-width: 768px) {
        width: calc(~"50% - 10px");
    }
}
/* End Product Main Info */

/* Product Description */
.description-wrapper {}
.product-description {
    .editor {
        padding: 0 0 30px;
    }
    @media (min-width: 768px) {
        .editor {
            padding-bottom: 0;
        }
    }
}
.product-rating {}
/* End Product Description */