//--------------------------------headershop
.headermanage {
	&.planning {
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.ordershop {
	&__table {
		padding: 20px;
		background-color: @color01;
		border-radius: 5px;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
	}
}

.table-wrap {
	overflow-x: auto;
	&__order {
		min-width: 600px;
		.fieldset {
			margin-bottom: 0;
		}
		.checkbox {
			.size(26px);
		}
		th, td {
			border: 1px solid #EBF0F9;
		}
		tbody {
			tr {
				&:nth-child(even) {
					background-color: #F8FAFF;
				}
			}
		}
	}
}
