// Feader
.header  {
    background: #FFD100;
    .container {
        &:before, &:after {content: none;}
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        font-size: 14px;
        text-transform: uppercase;
        color: #333;
        > i, > span {
            display: inline-block;
            vertical-align: middle;
        }
        i {
            
            margin-right: 10px;
            color: #fff;
            font-size: 24px;
            line-height: 0;
        }
    }
    &__inner {
        padding: 20px 0;
        border-bottom: 1px solid #FFEB8E;
    }
    &__wrap {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 120px;
        margin-right: 25px;
    }
    &__location {
        width: 25%;
        margin-right: 20px;
        .custom-select {
            select {
                padding: 5px 10px;
                border: 2px solid #FFEB8E;
                border-radius: 3px;
                color: #333;
                height: 38px;
            }
        }
    }
    &__searchForm {
        width: 60%;
        .custom-input {
            height: 38px;
            padding: 2px;
            background-color: #fff;
            border: 2px solid #FFEB8E;
            border-radius: 3px;
            color: #333;
            > i {
                left: 10px;
                font-size: 20px;
                color: #8B929F;
                & + span input {
                    padding-left: 35px;
                }
            }
        }
        input {
            font-style: italic;
            color: #8B929F;
        }
        input,
        button {
            border: none;
            height: 30px;
        }
        button {
            padding: 0 10px;
            background: #FFD100;
            box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
            border-radius: 3px;
            font-size: 14px;
        }
    }
    &__links {
        flex: 1 0;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__notification {
        a {
            position: relative;
        }
        .number {
            position: absolute;
            left: 10px;
            top: -4px;
            border-radius: 50%;
            background-color: #FE2070;
            color: #fff;
            width: 15px;
            height: 15px;
            text-align: center;
            line-height: 15px;
            font-size: 11px;
        }
    }
    
    &__main {
        padding: 10px 0;
    }
    &__left {
        display: flex;
    }
    &__right {
        display: flex;
        & > div {
            margin-left: 40px;
        }
    }
    &__shop__management {

    }
    &__hunty__feed {
        i {
            .path1:before {color: #fff}
            .path2:before {color: #ffd100}
        }
    }
}

.nav__navigation {
    margin-right: 40px;
    &__navbar {
        display: none;
        .sub_menu {
            display: none;
        }
    }
}

.product__recently {
    &__list {
        display: none;
    }
}

// Footer
.footer {
    background: #F8FAFF;
    border-bottom: 5px solid #FFD100;
    font-size: 14px;
    h4 {
        margin-bottom: 15px;   
        font-size: 14px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
    }
    ul {
        margin-bottom: 20px;
    }
    a {
        color: #000;
    }
    &__inner {
        padding: 30px 0 0;
        .container {
            &:before, &:after {content: none;}
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__col {
        width: calc(~"100% / 2 - 10px");
    }
    &__nav {
        a {
            padding: 14px 0;
            display: block;
            &:first-of-type {
                padding-top: 0;
            }
        }
    }
    &__payment_list {
        display: flex;
        li {
            & + li {
                margin-left: 10px;
            }
        }
    }
    &__socials {
        display: flex;
        li {
            & + li {
                margin-left: 10px;
            }
        }
        a {
            font-size: 30px;
        }
    }
    &__apps {
        li {
            margin-bottom: 10px;
        }
    }

    &__copyright {
        padding: 10px 0;
        border-top: 1px solid #ddd;
        font-size: 12px;
        color: #8B929F;
        text-align: center;
    }
    @media(min-width: 768px) {
        border-bottom: 8px solid #FFD100;
        &__col {
            width: calc(~"100% / 4 - 20px");
        }
        &__copyright {
            text-align: right;
        }
    }
}

.back-top-top {
    .position(fixed, null 20px 40px null);
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4F7FC;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(42, 47, 60, 0.06);
    border-radius: 50%;
    color: #D2DAEA;
    font-size: 12px;
    z-index: 10;
    &:hover {
        background-color: #FFD100;
        color: #fff;
    }
}

// Newsletter
.newsletter {
    padding: 25px 0;
    h3 {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.4;
        color: #333;
    }
    &__inner {
        max-width: 590px;
        margin: 0 auto;
        
    }
    &__icon {
        width: 106px;
        margin: 0 auto 20px;
    }
    .custom-input {
        input {
            border: 2px solid #D2DAEA;
            border-right: 0;
            background-color: #fff;
            font-size: 14px;
            font-style: italic;
            color: #8B929F;
        }
        button {
            padding: 0 10px;
            background: #FFD100;
            border-radius: 0 3px 3px 0;
            font-size: 16px;
            border: none;
        }
    }
    @media(min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            margin: 0;
        }
        &__description {
            flex: 1 0;
            padding-left: 15px;
        }
    }
    @media(max-width: 767px) {
        text-align: center;
    }
}