.account-sidebar
	.account-infor
		.act-edit.hidden-md-up
			+link('', 'edit-profile.html') Edit
		.act-avatar
			.act-avatar__thumb
				img(src="images/upload/img-100-100.jpeg")
			.act-avatar__desc
				h3.w-title Your Name
				p
					i.icon-star
					| 4.5
		.act-address.hidden-md-up
			.act-address__name
				p Email
				p Mobile number
				p Year of birth
			.act-address__infor
				p abc@gmail.com
				p 0123456789
				p 1999
		+link('', 'shop-management.html').button.hollow.hidden-md-up
			i.icon-view-shop
			| Shop Management

	.account-menu
		p
			if profileIndex == 0
				+link('', 'profile.html').active
					i.icon-account.hidden-sm-down
					| Account Information
			else
				+link('', 'profile.html')
					i.icon-account.hidden-sm-down
					| Account Information
		p
			if profileIndex == 1
				+link('', 'history-check.html').active
					i.icon-check-in.hidden-sm-down
					| History Check-in
			else
				+link('', 'history-check.html')
					i.icon-check-in.hidden-sm-down
					| History Check-in
		p
			if profileIndex == 2
				+link('', 'my-order.html').active
					i.icon-order.hidden-sm-down #[span.path1]#[span.path2]#[span.path3]
					| My Orders
			else
				+link('', 'my-order.html')
					i.icon-order.hidden-sm-down #[span.path1]#[span.path2]#[span.path3]
					| My Orders
		p
			if profileIndex == 3
				+link('', 'my-promotion.html').active
					i.icon-promo.hidden-sm-down
					| My Promotion
			else
				+link('', 'my-promotion.html')
					i.icon-promo.hidden-sm-down
					| My Promotion
		p
			if profileIndex == 4
				+link('', 'my-followed.html').active
					i.icon-view-shop.hidden-sm-down
					| My Followed
			else
				+link('', 'my-followed.html')
					i.icon-view-shop.hidden-sm-down
					| My Followed
		p.hidden-md-up
			+link('Term & Conditions', 'terms.html')
		p.hidden-md-up
			+link('Log Out', 'index.html')
