.my-order
  +heading({text: 'My Order'})
  .my-order__show
    -for (var i = 0; i < 20; i++)
      .show-order
        h4.wrap-title Zara T-shirt Circle Neck
        p Orer ID: 456789
        p Order Date: 11/11/2020
        p Status: Complete
