section.banner
    .container
        .banner__inner
            .banner__slider
                .slider(data-cslider='{"type": "single", "dots": true, "autoplay": true}')
                    .slick
                        .item
                            a(href="search.html"): img(src="images/upload/img-890-375.jpeg").img-view
                        .item
                            a(href="search.html"): img(src="images/upload/img-890-375-2.jpeg").img-view
                        .item
                            a(href="search.html"): img(src="images/upload/img-890-375-3.jpeg").img-view
                    span.load
            .banner__promo_inner.hidden-md-down
                include banner_promo
