section.banner__promoMb.hidden-sm-up
    .container
        .swiper-container(data-swiper='{"type": "banner"}')
            .swiper-wrapper
                .swiper-slide
                    img(src="https://i.picsum.photos/id/1/500/250.jpg").img-view
                .swiper-slide
                    img(src="https://i.picsum.photos/id/2/500/250.jpg").img-view
                .swiper-slide
                    img(src="https://i.picsum.photos/id/3/500/250.jpg").img-view
            .swiper-scrollbar
            .swiper-button.swiper-button-prev
            .swiper-button.swiper-button-next
