section.banner
    .container
        .banner__inner
            .banner__slider
                .swiper-container(data-swiper='{"type": "banner", "setPositionArrows": true}')
                    .swiper-wrapper
                        .swiper-slide
                            img(src="https://i.picsum.photos/id/1/890/375.jpg").img-view
                        .swiper-slide
                            img(src="https://i.picsum.photos/id/2/890/375.jpg").img-view
                        .swiper-slide
                            img(src="https://i.picsum.photos/id/3/890/375.jpg").img-view
                    .swiper-scrollbar
                    .swiper-button.swiper-button-prev
                    .swiper-button.swiper-button-next
            .banner__promo_inner.hidden-md-down
                include banner_promo
