.banner__promo.hidden-md-down
    +link('Image', 'promotion.html')
        img(src="images/upload/img-408-170.jpeg")
    +link('Image', 'promotion.html')
        img(src="images/upload/img-408-170-2.jpeg")
    +link('Image', 'promotion.html')
        img(src="images/upload/img-408-170-3.jpeg")
