.banner__promo.hidden-md-down
    +link('Image', 'promotion.html')
        img(src="https://picsum.photos/id/111/408/170")
    +link('Image', 'promotion.html')
        img(src="https://picsum.photos/id/112/408/170")
    +link('Image', 'promotion.html')
        img(src="https://picsum.photos/id/113/408/170")