.banner__promo.hidden-md-down
    +link('Image', '#')
        +img-upload('promo_1.png')
    +link('Image', '#')
        +img-upload('promo_2.png')
    +link('Image', '#')
        +img-upload('promo_3.png')