.banner__promo.hidden-md-down
    +link('Image', 'promotion.html')
        +img-upload('promo_1.png')
    +link('Image', 'promotion.html')
        +img-upload('promo_2.png')
    +link('Image', 'promotion.html')
        +img-upload('promo_3.png')