section.banner
  .container
    .banner__inner
      .banner__slider
        .swiper-container(data-swiper='{"type": "banner", "setPositionArrows": true}')
          .swiper-wrapper
            .swiper-slide
              img(src="https://i.picsum.photos/id/1/1200/450.jpg").img-view
            .swiper-slide
              img(src="https://i.picsum.photos/id/2/1200/450.jpg").img-view
            .swiper-slide
              img(src="https://i.picsum.photos/id/3/1200/450.jpg").img-view
          .swiper-pagination
          .swiper-button.swiper-button-prev
          .swiper-button.swiper-button-next
