section.banner__promoMb.hidden-sm-up
    .container
        .slider(data-cslider='{"type": "single", "dots": true, "autoplay": true, "initUnder": 767}')
            .slick
                .item
                    img(src="images/upload/img-500-250.jpeg").img-view
                .item
                    img(src="images/upload/img-500-250-2.jpeg").img-view
                .item
                    img(src="images/upload/img-500-250-3.jpeg").img-view
            span.load
