section.banner
    .container
        .banner__inner
            .banner__slider
                .slider(data-cslider='{"type": "single", "dots": true, "autoplay": true, "fade": true}')
                    .slick
                        .item
                            +img-upload('banner.png').img-view
                        .item
                            img(src="https://picsum.photos/894/380?grayscale").img-view
                        .item
                            img(src="https://picsum.photos/894/380").img-view
                    span.load
            .banner__promo_inner.hidden-md-down
                include banner_promo
