section.categories_block
    .container
        ul.categories_block__list
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
            li: +link('Categories 1', '#')
