section.category_icons
    .container
        ul.category_icons__list
            li: +link('T-shirt', 'search.html')
                span.icon: +img('ic_t_shirt.png')
                span.text T-shirt
            li: +link('Accessories', 'search.html')
                span.icon: +img('ic_glasses.png')
                span.text Accessories
            li: +link('Phone', 'search.html')
                span.icon: +img('ic_phone.png')
                span.text Phone
            li: +link('Head Phone', 'search.html')
                span.icon: +img('ic_head_phone.png')
                span.text Head Phone
            li: +link('Handtilizer', 'search.html')
                span.icon: +img('ic_handtilizer.png')
                span.text Handtilizer
            li: +link('Skin Care', 'search.html')
                span.icon: +img('ic_skin_care.png')
                span.text Skin Care
            li: +link('Sneaker', 'search.html')
                span.icon: +img('ic_sneaker.png')
                span.text Sneaker
            li: +link('Watch', 'search.html')
                span.icon: +img('ic_watch.png')
                span.text Watch
            li: +link('Camera', 'search.html')
                span.icon: +img('ic_camera.png')
                span.text Camera
            li: +link('Pant', 'search.html')
                span.icon: +img('ic_pant.png')
                span.text Pant
