section.category_icons
    .container
        .category_icons__list.slider(data-cslider='{"type": "categoryicons", "setPositionArrows": true}')
            .slick
                .item
                    +link('T-shirt', 'search.html')
                        span.icon.img-view: +img('ic_t_shirt.png')
                        span.text T-shirt
                .item
                    +link('Accessories', 'search.html')
                        span.icon.img-view: +img('ic_glasses.png')
                        span.text Accessories
                .item
                    +link('Phone', 'search.html')
                        span.icon.img-view: +img('ic_phone.png')
                        span.text Phone
                .item
                    +link('Head Phone', 'search.html')
                        span.icon.img-view: +img('ic_head_phone.png')
                        span.text Head Phone
                .item
                    +link('Handtilizer', 'search.html')
                        span.icon.img-view: +img('ic_handtilizer.png')
                        span.text Handtilizer
                .item
                    +link('Skin Care', 'search.html')
                        span.icon.img-view: +img('ic_skin_care.png')
                        span.text Skin Care
                .item
                    +link('Sneaker', 'search.html')
                        span.icon.img-view: +img('ic_sneaker.png')
                        span.text Sneaker
                .item
                    +link('Watch', 'search.html')
                        span.icon.img-view: +img('ic_watch.png')
                        span.text Watch
                .item
                    +link('Camera', 'search.html')
                        span.icon.img-view: +img('ic_camera.png')
                        span.text Camera
                .item
                    +link('Pant', 'search.html')
                        span.icon.img-view: +img('ic_pant.png')
                        span.text Pant
                .item
                    +link('T-shirt', 'search.html')
                        span.icon.img-view: +img('ic_t_shirt.png')
                        span.text T-shirt
                .item
                    +link('Accessories', 'search.html')
                        span.icon.img-view: +img('ic_glasses.png')
                        span.text Accessories
                .item
                    +link('Phone', 'search.html')
                        span.icon.img-view: +img('ic_phone.png')
                        span.text Phone
                .item
                    +link('Head Phone', 'search.html')
                        span.icon.img-view: +img('ic_head_phone.png')
                        span.text Head Phone
                .item
                    +link('Handtilizer', 'search.html')
                        span.icon.img-view: +img('ic_handtilizer.png')
                        span.text Handtilizer
                .item
                    +link('Skin Care', 'search.html')
                        span.icon.img-view: +img('ic_skin_care.png')
                        span.text Skin Care
                .item
                    +link('Sneaker', 'search.html')
                        span.icon.img-view: +img('ic_sneaker.png')
                        span.text Sneaker
                .item
                    +link('Watch', 'search.html')
                        span.icon.img-view: +img('ic_watch.png')
                        span.text Watch
                .item
                    +link('Camera', 'search.html')
                        span.icon.img-view: +img('ic_camera.png')
                        span.text Camera
                .item
                    +link('Pant', 'search.html')
                        span.icon.img-view: +img('ic_pant.png')
                        span.text Pant
