section.categories_block
    .container
        .categories_block__list
            .slider(data-cslider='{"type": "tworow", "initUnder": 767}')
                .slick
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
                    .item: +link('Categories 1', '#')
