section.categories_block
    .container
        .categories_block__list
            .swiper-container(data-swiper='{"type": "tworow", "initUnder": 767}')
                .swiper-wrapper
                    -for (var i = 0; i < 24; i++)
                        .swiper-slide
                            +link('Categories ' + i, 'search.html')
                .swiper-button.swiper-button-prev
                .swiper-button.swiper-button-next
