section.categories
  .container
    .categories__list.swiper-container(data-swiper='{"type": "categoryicons"}')
      .swiper-wrapper
        .swiper-slide
          +link('T-shirt', 'search.html')
            span.categories__icon.img-view: +img('ic_t_shirt.png')
            span.text T-shirt
        .swiper-slide
          +link('Accessories', 'search.html')
            span.categories__icon.img-view: +img('ic_glasses.png')
            span.text Accessories
        .swiper-slide
          +link('Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_phone.png')
            span.text Phone
        .swiper-slide
          +link('Head Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_head_phone.png')
            span.text Head Phone
        .swiper-slide
          +link('Handtilizer', 'search.html')
            span.categories__icon.img-view: +img('ic_handtilizer.png')
            span.text Handtilizer
        .swiper-slide
          +link('Skin Care', 'search.html')
            span.categories__icon.img-view: +img('ic_skin_care.png')
            span.text Skin Care
        .swiper-slide
          +link('Sneaker', 'search.html')
            span.categories__icon.img-view: +img('ic_sneaker.png')
            span.text Sneaker
        .swiper-slide
          +link('Watch', 'search.html')
            span.categories__icon.img-view: +img('ic_watch.png')
            span.text Watch
        .swiper-slide
          +link('Camera', 'search.html')
            span.categories__icon.img-view: +img('ic_camera.png')
            span.text Camera
        .swiper-slide
          +link('Pant', 'search.html')
            span.categories__icon.img-view: +img('ic_pant.png')
            span.text Pant
        .swiper-slide
          +link('T-shirt', 'search.html')
            span.categories__icon.img-view: +img('ic_t_shirt.png')
            span.text T-shirt
        .swiper-slide
          +link('Accessories', 'search.html')
            span.categories__icon.img-view: +img('ic_glasses.png')
            span.text Accessories
        .swiper-slide
          +link('Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_phone.png')
            span.text Phone
        .swiper-slide
          +link('Head Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_head_phone.png')
            span.text Head Phone
        .swiper-slide
          +link('Handtilizer', 'search.html')
            span.categories__icon.img-view: +img('ic_handtilizer.png')
            span.text Handtilizer
        .swiper-slide
          +link('Skin Care', 'search.html')
            span.categories__icon.img-view: +img('ic_skin_care.png')
            span.text Skin Care
        .swiper-slide
          +link('Sneaker', 'search.html')
            span.categories__icon.img-view: +img('ic_sneaker.png')
            span.text Sneaker
        .swiper-slide
          +link('Watch', 'search.html')
            span.categories__icon.img-view: +img('ic_watch.png')
            span.text Watch
        .swiper-slide
          +link('Camera', 'search.html')
            span.categories__icon.img-view: +img('ic_camera.png')
            span.text Camera
        .swiper-slide
          +link('Pant', 'search.html')
            span.categories__icon.img-view: +img('ic_pant.png')
            span.text Pant
        .swiper-slide
          +link('T-shirt', 'search.html')
            span.categories__icon.img-view: +img('ic_t_shirt.png')
            span.text T-shirt
        .swiper-slide
          +link('Accessories', 'search.html')
            span.categories__icon.img-view: +img('ic_glasses.png')
            span.text Accessories
        .swiper-slide
          +link('Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_phone.png')
            span.text Phone
        .swiper-slide
          +link('Head Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_head_phone.png')
            span.text Head Phone
        .swiper-slide
          +link('Handtilizer', 'search.html')
            span.categories__icon.img-view: +img('ic_handtilizer.png')
            span.text Handtilizer
        .swiper-slide
          +link('Skin Care', 'search.html')
            span.categories__icon.img-view: +img('ic_skin_care.png')
            span.text Skin Care
        .swiper-slide
          +link('Sneaker', 'search.html')
            span.categories__icon.img-view: +img('ic_sneaker.png')
            span.text Sneaker
        .swiper-slide
          +link('Watch', 'search.html')
            span.categories__icon.img-view: +img('ic_watch.png')
            span.text Watch
        .swiper-slide
          +link('Camera', 'search.html')
            span.categories__icon.img-view: +img('ic_camera.png')
            span.text Camera
        .swiper-slide
          +link('Pant', 'search.html')
            span.categories__icon.img-view: +img('ic_pant.png')
            span.text Pant
        .swiper-slide
          +link('T-shirt', 'search.html')
            span.categories__icon.img-view: +img('ic_t_shirt.png')
            span.text T-shirt
        .swiper-slide
          +link('Accessories', 'search.html')
            span.categories__icon.img-view: +img('ic_glasses.png')
            span.text Accessories
        .swiper-slide
          +link('Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_phone.png')
            span.text Phone
        .swiper-slide
          +link('Head Phone', 'search.html')
            span.categories__icon.img-view: +img('ic_head_phone.png')
            span.text Head Phone
        .swiper-slide
          +link('Handtilizer', 'search.html')
            span.categories__icon.img-view: +img('ic_handtilizer.png')
            span.text Handtilizer
        .swiper-slide
          +link('Skin Care', 'search.html')
            span.categories__icon.img-view: +img('ic_skin_care.png')
            span.text Skin Care
        .swiper-slide
          +link('Sneaker', 'search.html')
            span.categories__icon.img-view: +img('ic_sneaker.png')
            span.text Sneaker
        .swiper-slide
          +link('Watch', 'search.html')
            span.categories__icon.img-view: +img('ic_watch.png')
            span.text Watch
        .swiper-slide
          +link('Camera', 'search.html')
            span.categories__icon.img-view: +img('ic_camera.png')
            span.text Camera
        .swiper-slide
          +link('Pant', 'search.html')
            span.categories__icon.img-view: +img('ic_pant.png')
            span.text Pant
      .swiper-scrollbar
      .swiper-button.swiper-button-prev
      .swiper-button.swiper-button-next
