section.services
  .container
    .services__list
      -for(var i = 1; i <= 4; i++)
        .services__item
          span.services__thumb
            +img('service-' + i + '.png')
          span.services__text Giao hàng miễn phí cho DDH từ 300km tại nội thành HCM
