section.cs_block.pusher_b70
    .container
        .cs_block__list
            .cs_block__item
                span.icon: i.icon-support
                h4 Hỗ Trợ Dịch Vụ Cho Các Shop
            .cs_block__item
                span.icon: i.icon-customer
                h4 Mang lại khách hàng tiềm năng shop
            .cs_block__item
                span.icon: i.icon-assurance
                h4 Thật sự an tâm khi mua hàng
            .cs_block__item
                span.icon: i.icon-eco
                h4 Eco System thương mại điện tử
            .cs_block__item
                span.icon: i.icon-sale
                h4 Chủ động nhận mã giảm giá
