section.flashsale_section
  .container
    .product_block
      .product_block__header
        +heading({text: 'FLA<i class="icon-flash-sale"></i>H SALE', subText: 'See All', countdown: true})
      .flashsale_section__outer
        .flashsale_section__inner
          -for (var i = 0; i < 14; i++)
            +product('one-price', 'slideitem')
