section.flashsale_section
  .container
    .product_block
      .product_block__header
        +heading({text: 'FLA<i class="icon-flash-sale"></i>H SALE', subText: 'See All', countdown: true})
      .swiper-container(data-swiper='{"type": "tworow"}')
        .swiper-wrapper
          -for (var i = 0; i < 22; i++)
            .swiper-slide
              +product('one-price', 'slideitem')
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next
