.promotion_block
    .slider(data-cslider='{"type": "promotion", "setPositionArrows": true}')
        .slick
            -for (var i = 0; i < 4; i++)
                .item
                    +promotion('slideitem')
        span.load