section.banner__promoMb.hidden-sm-up
    .container
        .banner__promo__slider
        +link('Image', '#'): +img-upload('promo_1.png')

section.promotion_block
    .container
            +heading('Recommended Promotion ', 'See All')
    .promotion_block__inner
        .container
            .slider(data-cslider='{"type": "variableWidth", "initUnder": 767}')
                .slick
                    -for (var i = 0; i < 4; i++)
                        .item
                            +promotion('slideitem')

section.promotion_block
    .container
        +heading('Promotion Near You ', 'See All')
    .promotion_block__inner
        .container
            .slider(data-cslider='{"type": "variableWidth", "initUnder": 767}')
                .slick
                    -for (var i = 0; i < 4; i++)
                        .item
                            +promotion('slideitem')
