.promotion_block
    .swiper-container(data-swiper='{"type": "promotion"}')
        .swiper-wrapper
            -for (var i = 0; i < 4; i++)
                .swiper-slide
                    +promotion('slideitem')
        .swiper-button-prev
        .swiper-button-next
