section
    .container
        .viewed_products
            +heading('Viewed Product', 'See All')
            .slider(data-cslider='{"type": "variableWidth", "setPositionArrows": true}')
                .slick
                    -for (var i = 0; i < 15; i++)
                        .item
                            +product('one-price', 'slideitem')
                span.load
