section.viewed_section
  .container
    .product_block
      +heading({text: 'Viewed Product', subText: 'See All', url: 'search.html'})
      .swiper-container(data-swiper='{"type": "productoneline", "setPositionArrows": true}')
        .swiper-wrapper
          -for (var i = 0; i < 15; i++)
            .swiper-slide
              +product('one-price', 'slideitem')
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next
