extends layouts/layout

block vars
  -title = 'Page Not Found'
  -bodyClass = 'page-not-found'

block main
  main
    h1 Page Not Found
    p Sorry, but the page you were trying to view does not exist.
