.container
  .row
    .col-xs-6.col-sm-3
      h3 Sản phẩm: +product()
  br
  .row
    .col-xs-6.col-sm-3
      +product()
  br
  .row
    .col-xs-6.col-sm-3
      h3 Phân trang: +pagination()
  br
  .row
    .col-xs-12
      +pagination()
  br
  .row
    .col-xs-6.col-sm-3
      h3 Promotion item: +promotion()
  br
  .row
    .col-xs-6.col-sm-3
      +promotion()
