table.tb-temp
  thead
    tr
      th: strong Small Mobile
      th: strong Large Mobile (Landscape)
      th: strong Tablet
      th: strong Small Desktop (Tablet Landscape)
      th: strong Large Desktop
  tbody
    tr
      td(data-handler=""): code #[span(data-copy="") @xs-min]: 0
      td(data-handler=""): code #[span(data-copy="") @sm-min]: 544px
      td(data-handler=""): code #[span(data-copy="") @md-min]: 768px
      td(data-handler=""): code #[span(data-copy="") @lg-min]: 992px
      td(data-handler=""): code #[span(data-copy="") @xl-min]: 1200px
    tr
      td(data-handler=""): code #[span(data-copy="") @xs-max]: 543px
      td(data-handler=""): code #[span(data-copy="") @sm-max]: 767px
      td(data-handler=""): code #[span(data-copy="") @md-max]: 991px
      td(data-handler=""): code #[span(data-copy="") @lg-max]: 1199px
      td
