ul.list-color-temp.clearfix
  +color('@yellow', '#FFD100')
  +color('@color00', 'transparent')
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#c0c0c0')
  +color('@color06', '#bbb')
  +color('@color07', '#aaa')
  +color('@color08', '#999')
  +color('@color09', '#666')
  +color('@color10', '#333')
  +color('@color11', '#000')
  +color('@color12', '#ff0000')
  +color('@color13', '#2199e8')
  +color('@color14', '#3adb76')
