table.tb-temp
  thead
    tr
      th: strong Font Family
      th: strong View
  tbody
    tr(data-handler="")
      td: code #[span(data-copy="") .sans-serif();] - Font Default
      td: p.sans-serif Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="") .fonticon();
      td: p #[i.icon-people]
    tr(data-handler="")
      td: code(data-copy="") .serif();
      td: p.serif Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="") .monospace();
      td: p.monospace Lorem ipsum dolor sit amet.
