table.tb-temp
  thead
    tr
      th(style="width: 120px;")
      th: strong Small Mobile
      th: strong Large Mobile (Landscape)
      th: strong Tablet
      th: strong Small Desktop (Tablet Landscape)
      th: strong Large Desktop
  tbody
    tr
      td: strong Class prefix
      td(data-handler=""): code(data-copy="") .col-xs-*
      td(data-handler=""): code(data-copy="") .col-sm-*
      td(data-handler=""): code(data-copy="") .col-md-*
      td(data-handler=""): code(data-copy="") .col-lg-*
      td(data-handler=""): code(data-copy="") .col-xl-*
    tr
      td: strong Offsets
      td(data-handler=""): code(data-copy="") .col-xs-offset-*
      td(data-handler=""): code(data-copy="") .col-sm-offset-*
      td(data-handler=""): code(data-copy="") .col-md-offset-*
      td(data-handler=""): code(data-copy="") .col-lg-offset-*
      td(data-handler=""): code(data-copy="") .col-xl-offset-*
    tr
      td: strong Push Columns
      td(data-handler=""): code #[span(data-copy="") .col-xs-push-*] #[span.red-text &#91;]Position left#[span.red-text &#93;]
      td(data-handler=""): code(data-copy="") .col-sm-push-*
      td(data-handler=""): code(data-copy="") .col-md-push-*
      td(data-handler=""): code(data-copy="") .col-lg-push-*
      td(data-handler=""): code(data-copy="") .col-xl-push-*
    tr
      td: strong Pull Columns
      td(data-handler=""): code #[span(data-copy="") .col-xs-pull-*] #[span.red-text &#91;]Position right#[span.red-text &#93;]
      td(data-handler=""): code(data-copy="") .col-sm-pull-*
      td(data-handler=""): code(data-copy="") .col-md-pull-*
      td(data-handler=""): code(data-copy="") .col-lg-pull-*
      td(data-handler=""): code(data-copy="") .col-xl-pull-*
