+icons([
  'tracking',
  'hamburger',
  'heart-solid',
  'heart-o',
  'caret-down',
  'caret-up',
  'caret-left',
  'caret-right',
  'angle-left',
  'angle-right',
  'angle-up',
  'angle-down',
  'categories',
  'fb-circle .path1',
  'fb-circle .path2',
  'youtube-circle .path1',
  'youtube-circle .path2',
  'star-half-empty',
  'star-o',
  'star',
  'arrow-left',
  'arrow-right',
  'arrow-up',
  'camera',
  'campaign',
  'cart',
  'check',
  'check-in',
  'customers',
  'follow',
  'followed',
  'glasses',
  'handtilizer',
  'head-phone',
  'heart',
  'home',
  'hunty-feed .path1',
  'hunty-feed .path2',
  'location',
  'marketing',
  'message',
  'notification',
  'order .path1',
  'order .path2',
  'order .path3',
  'pant',
  'phone',
  'photo',
  'product',
  'promo',
  'report',
  'search',
  'shop',
  'shop-order',
  'skin-care',
  'sneaker',
  'arrow-top',
  'triangle-down',
  't-shirt',
  'view-shop',
  'watch',
  'write',
  'acount',
  'analysis'
])
