+icons([
  'check',
  'check-outline',
  'arrow-thinup',
  'arrow-thindown',
  'arrow-thinleft',
  'arrow-thinright',
  'arrow-dropdown',
  'arrow-dropleft',
  'arrow-dropright',
  'arrow-dropup',
  'arrow-up',
  'arrow-down',
  'arrow-left',
  'arrow-right',
  'grid',
  'list',
  'earth',
  'home',
  'home-outline',
  'hamburger',
  'person',
  'person-outline',
  'people',
  'people-outline',
  'contact',
  'contacts',
  'bubble',
  'bubble-outline',
  'heart',
  'heart-outline',
  'help',
  'help-outline',
  'done',
  'done-all',
  'checkmark',
  'checkmark-outline',
  'circle',
  'circle-filled',
  'trash',
  'trash-outline',
  'close',
  'close-solid',
  'close-outline',
  'compose',
  'compose-outline',
  'minus',
  'plus',
  'minus-solid',
  'plus-solid',
  'email',
  'email-outline',
  'information',
  'informat-outline',
  'pin',
  'pin-outline',
  'tag',
  'tag-outline',
  'tags',
  'tags-outline',
  'search-strong',
  'search',
  'play',
  'play-outline',
  'backward',
  'backward-outline',
  'forward',
  'forward-outline',
  'pause',
  'pause-outline',
  'share-alt',
  'star-outline',
  'star-half',
  'star',
  'telephone',
  'telephone-outline',
  'printer',
  'printer-outline',
  'facebook',
  'facebook-outline',
  'googleplus',
  'googleplus-outline',
  'instagram',
  'instagram-outline',
  'pinterest',
  'pinterest-outline',
  'twitter',
  'twitter-outline',
  'youtube',
  'youtube-outline',
  'snapchat',
  'snapchat-outline',
  'tumblr',
  'tumblr-outline',
  'skype',
  'skype-outline'
])
