+icons([
  'tracking',
  'hamburger',
  'heart-solid',
  'heart-o',
  'caret-down',
  'caret-up',
  'caret-left',
  'caret-right',
  'angle-left',
  'angle-right',
  'angle-up',
  'angle-down',
  'categories',
  'star-half-empty',
  'star-o',
  'star',
  'arrow-left',
  'arrow-right',
  'arrow-up',
  'camera',
  'campaign',
  'cart',
  'check',
  'check-in',
  'customers',
  'follow',
  'followed',
  'glasses',
  'handtilizer',
  'head-phone',
  'heart',
  'home',
  'location',
  'marketing',
  'message',
  'notification',
  'pant',
  'phone',
  'photo',
  'product',
  'promo',
  'report',
  'search',
  'shop',
  'shop-order',
  'skin-care',
  'sneaker',
  'top',
  'triangle-down',
  't-shirt',
  'view-shop',
  'watch',
  'write',
  'account',
  'analysis'
])
  li(data-handler="")
    i(class='icon-order', data-copy="i.icon-account: span.path1")
      span.path1
      span.path2
      span.path3
  li(data-handler="")
    i(class='icon-hunty-feed', data-copy="i.icon-hunty-feed: span.path1")
      span.path1
      span.path2
  li(data-handler="")
    i(class='icon-youtube-circle', data-copy="i.icon-youtube-circle: span.path1")
      span.path1
      span.path2
  li(data-handler="")
    i(class='icon-fb-circle', data-copy="i.icon-fb-circle: span.path1")
      span.path1
      span.path2
