+icons([
  'arrow-left',
  'arrow-right',
  'arrow-up',
  'camera',
  'campaign',
  'cart',
  'check',
  'check-in',
  'customers',
  'follow',
  'followed',
  'glasses',
  'handtilizer',
  'head-phone',
  'heart',
  'location',
  'message',
  'notification',
  'pant',
  'phone',
  'photo',
  'promo',
  'report',
  'search',
  'shop',
  'shop-order',
  'skin-care',
  'sneaker',
  'triangle-down',
  't-shirt',
  'view-shop',
  'watch',
  'write',
  'account',
  'analysis',
  'flash-sale',
  'close',
  'location-arrow',
  'arrow-next',
  'arrow-solid-down',
  'arrow-solid-up',
  'shopping-cart',
  'shipping',
  'delivered',
  'card',
  'send',
  'arrow-prev',
  'gro-up',
  'calendar',
  'tracking',
  'hamburger',
  'heart-solid',
  'heart-o',
  'caret-down',
  'caret-up',
  'caret-left',
  'caret-right',
  'angle-left',
  'angle-right',
  'angle-up',
  'angle-down',
  'categories',
  'star-half-empty',
  'star-o',
  'star',
  'support',
  'assurance',
  'eco',
  'sale',
  'customer'
])
  li(data-handler="")
    i(class='icon-order', data-copy="i.icon-account #[span.path1] #[span.path2] #[span.path3]")
      span.path1
      span.path2
      span.path3
  li(data-handler="")
    i(class='icon-hunty-feed', data-copy="i.icon-hunty-feed #[span.path1] #[span.path2]")
      span.path1
      span.path2
  li(data-handler="")
    i(class='icon-youtube-circle', data-copy="i.icon-youtube-circle #[span.path1] #[span.path2]")
      span.path1
      span.path2
  li(data-handler="")
    i(class='icon-fb-circle', data-copy="i.icon-fb-circle #[span.path1] #[span.path2]")
      span.path1
      span.path2
  li(data-handler="")
    i(class='icon-brand-goolge', data-copy="i.icon-brand-goolge #[span.path1] #[span.path2] #[span.path3] #[span.path4] #[span.path5] #[span.path6]")
      span.path1
      span.path2
      span.path3
      span.path4
      span.path5
      span.path6
