.container-fluid(data-copies="")
  .block
    h2.temp-h2.divider#breakpoint: span 1. Breakpoint
    include breakpoint
  .block
    h2.temp-h2.divider#colors: span 2. Color Variables
    include colors
  .block
    h2.temp-h2.divider#fonts: span 3. Fonts
    include fonts
  .block
    h2.temp-h2.divider#icons: span 4. Icons
    include icons
  .block
    h2.temp-h2.divider#utilities-class: span 5. Utilities Class
    include utilities-class
  .block(data-collapse="")
    h2.temp-h2.divider#form-element: span 6. Form Elements
    include form
  .block
    h2.temp-h2.divider#CSS-Mixin: span: +link() 7. CSS-Mixin
    .content(data-content="CSS-Mixin")
      include css_mixin
