.container-fluid(data-copies="")
  .block
    h2.temp-h2.divider#breakpoint: span 1. Breakpoint
    include breakpoint
  .block
    h2.temp-h2.divider#media: span 2. Media Queries
    .content
      include media
  .block
    h2.temp-h2.divider#colors: span 3. Color Variables
    include colors
  .block
    h2.temp-h2.divider#fonts: span 4. Fonts
    include fonts
  .block
    h2.temp-h2.divider#icons: span 5. Icons
    include icons
  .block
    h2.temp-h2.divider#utilities-class: span 6. Utilities Class
    include utilities-class
  .block(data-collapse="")
    h2.temp-h2.divider#form-element: span 7. Form Elements
    include form
  .block(data-collapse="")
    h2.temp-h2.divider#CSS-Mixin(data-handle="CSS-Mixin"): span: +link() 9. CSS-Mixin #[i.icon-arrow-down]
    .content(data-content="CSS-Mixin")
      include css_mixin
