table.tb-temp
  thead
    tr
      td: strong Class Name
      td: strong View/Note
  tbody
    tr(data-handler="")
      td
        code.highlight(data-copy="") .antialiased
      td
        p #[span.note Has mixin] Fix font smooth on iOS.
    tr(data-handler="")
      td
        code.highlight(data-copy="") .clearfix
      td
        p #[span.note Has mixin] Clears floats
    tr(data-handler="")
      td
        code.highlight(data-copy="") .center-block
      td
        .center-block.bgd-light-grey(style="max-width: 200px; padding: 5px;") #[span.note Has mixin] Center block
    tr(data-handler="")
      td
        code.highlight(data-copy="") .text-hide
      td
        p #[span.note Has mixin] Hide the text.
    tr(data-handler="")
      td
        code.highlight(data-copy="") .text-truncate
      td
        p #[span.note Has mixin] Truncate text one line.
        p.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, temporibus.
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-left
      td: p.text-left Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, temporibus.
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-center
      td: p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, dolores.
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-right
      td: p.text-right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, dolores.
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-justify
      td: p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, pariatur id nam veniam aliquam itaque, nobis reiciendis natus ipsum eius voluptates. Voluptatem recusandae omnis illo quia rem earum sapiente qui facere est minus! Ipsum quasi necessitatibus, in, facere, qui fugit adipisci quas temporibus inventore, velit quos dolores itaque commodi hic!
    tr(data-handler="")
      td
        code.highlight(data-copy="") .pull-left
      td
        .pull-left Floats an element to the left
    tr(data-handler="")
      td
        code.highlight(data-copy="") .pull-right
      td
        .pull-right
          span Floats an element to the right
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-lowercase
      td: p.text-lowercase Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, est.
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-uppercase
      td: p.text-uppercase Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, est.
    tr(data-handler="")
      td: code.highlight(data-copy="") .text-capitalize
      td: p.text-capitalize Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, est.

table.tb-temp.temp-table-utilities
  thead
    tr
      th Class Name
      th Small Mobile #[small ≤ @xs-max - 543px]
      th Large Mobile #[small ≥ 544px and ≤ 767px]
      th Tablet #[small ≥ 768px and ≤ 991px]
      th Small Desktop #[small ≥ 992px and ≤ 1199px]
      th Large Desktop #[small ≥ 1200px]
  tbody
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden
      td Hidden
      td Hidden
      td Hidden
      td Hidden
      td Hidden
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-xs
      td Hidden
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-sm
      td.is-visible Visible
      td Hidden
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-md
      td.is-visible Visible
      td.is-visible Visible
      td Hidden
      td.is-visible Visible
      td.is-visible Visible
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-lg
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
      td Hidden
      td.is-visible Visible
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-sm-up
      td.is-visible Visible
      td Hidden
      td Hidden
      td Hidden
      td Hidden
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-md-up
      td.is-visible Visible
      td.is-visible Visible
      td Hidden
      td Hidden
      td Hidden
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-lg-up
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
      td Hidden
      td Hidden
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-xl
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
      td Hidden
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-sm-down
      td Hidden
      td Hidden
      td.is-visible Visible
      td.is-visible Visible
      td.is-visible Visible
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-md-down
      td Hidden
      td Hidden
      td Hidden
      td.is-visible Visible
      td.is-visible Visible
    tr(data-handler="")
      td: code.highlight(data-copy="") .hidden-lg-down
      td Hidden
      td Hidden
      td Hidden
      td Hidden
      td.is-visible Visible
