header.headerCheckout
	.container
		.headerCheckout__inner
			+goback().hidden-md-up
			.header__logo.hidden-sm-down: +link('Hunty', 'index.html'): +img('logo.png', 'Hunty')
			h1.main-title.hidden-md-up Cart
		.headerSteps
			ul.headerSteps__inner
				if checkoutStep == 2
					li.active: span: i.icon-cart
					li.active: span: i.icon-shipping
					li: span: i.icon-card
					li: span: i.icon-delivered
				else if checkoutStep == 3
					li.active: span: i.icon-cart
					li.active: span: i.icon-shipping
					li.active: span: i.icon-card
					li: span: i.icon-delivered
				else if checkoutStep == 4
					li.active: span: i.icon-cart
					li.active: span: i.icon-shipping
					li.active: span: i.icon-card
					li.active: span: i.icon-delivered
				else
					li.active: span: i.icon-cart
					li: span: i.icon-shipping
					li: span: i.icon-card
					li: span: i.icon-delivered

