header.headershop
	.container
		.headershop__inner
			.create-left
				p
					a(href="shop-management.html") Shop Management
			.create-right
				p
					a(href="notification.html")
						i.icon-notification
						span NOTIFICATION
				p
					a(href="#")
						img(src="https://i.picsum.photos/id/111/25/25.jpg" title="")
						span CHRIS HEMSWORTH
