header.headershop
    .container
        .headershop__inner
            .headershop__left
                p
                    a(href="shop-management.html") Shop Management
            .headershop__right
                p
                    a(href="notification.html")
                        i.icon-notification
                        span NOTIFICATION
                p
                    a(href="#")
                        img(src="https://i.picsum.photos/id/111/25/25.jpg" title="")
                        span CHRIS HEMSWORTH
