header.headermanage
	.container
		.headermanage__inner
			.headermanage__left
				p
					a(href="#")
						i.icon-shop
						| Shop Management
			.headermanage__right
				+customSelect({id: 'routine'}, [
					{value: '', text: 'Routine'},
					{value: 'Routine 1', selected: 'selected'},
					{value: 'Routine 2'}
					])
				i.icon-shop
				p.hidden-md
					a(href="#")
						img(src="https://i.picsum.photos/id/111/25/25.jpg" title="")
						span CHRIS HEMSWORTH
