header.headermanage
	.container
		.headermanage__inner
			.headermanage__left
				h3
					a(href="shop-management.html")
						i.icon-shop.hidden-sm-down
						| Shop Management
				p.hidden-md-up
					a(href="shop-management-plan-pricing.html") Go Premium
			.headermanage__right
				+customSelect({id: 'routine'}, [
					{value: 'Rountine', text: 'Routine'},
					{value: 'Routine 1', selected: 'selected'},
					{value: 'Routine 2'}
					])
				i.icon-shop
				p
					a(href="profile.html")
						img(src="https://i.picsum.photos/id/111/25/25.jpg" title="")
						span.hidden-md CHRIS HEMSWORTH
