.shop__heading.heading
  h1.heading__text Product List
  ul.product-navs
    li.active: +link('Sale', 'javascript:;')
    li: +link('Unsale', 'javascript:;')
    li: +link('All', 'javascript:;')
.product_list
  -for (var i = 0; i < 1; i++)
    +product('two-price-cart').product--promo
  +product('two-price-cart-unsale').product--promo
  -for (var i = 0; i < 9; i++)
    +product('two-price-cart').product--promo
