.bannershop(style="background-image: url(https://i.picsum.photos/id/1068/3000/1000.jpg);")
	.bannershop__inner
		.create-banner
			img(src="images/logo.png" title="logo")
		h2.heading-title Become Hunty Seller
