.bannershop(style="background-image: url(images/uploads/img-3000-1000.jpeg);")
	.bannershop__inner
		.create-banner
			img(src="images/logo-white.png" title="logo")
		h2.heading-title Become Hunty Seller
