.loginshop
	.loginshop__inner
		.loginshop-title
			h2.hidden-sm-down Thank you for your trust and the choice to accompany Hunty!
			h2.hidden-sm-down Please fill in your information to create an account to log in to the Sales Center
			h2.hidden-md-up Create Your Shop
			p.hidden-md-up Please fill in your information to create a new shop
		.loginshop-form
			.fieldset
				label.label(for="guide_txt")
					span Shop’s Name
				.fieldset__column
					+input({id: 'shopName', placeholder: 'Shop Name'})
					span.error-message This field is required.
			.fieldset
				label.label(for="address")
					span Address
				.fieldset__column
					+input({id: 'addressShop', placeholder: 'Address shop'})
					span.error-message This field is required.
			.fieldset
				label.label(for="city")
					span City
				.fieldset__column
					.fieldset__row
						.fieldset__col3
							+input({id: 'city', placeholder: 'City'})
						.fieldset__col3
							+input({id: 'state', placeholder: 'State'})
						.fieldset__col3
							+input({id: 'zipCode', placeholder: 'Zip Code'})
					span.error-message This field is required.
			.fieldset
				label.label(for="telephone")
					span Telephone
				.fieldset__column
					+input({id: 'telephone', placeholder: 'Telephone'})
					span.error-message This field is required.
			.fieldset
				label.label(for="email")
					span Email
				.fieldset__column
					+input({id: 'emailShop', placeholder: 'Email', 'type': 'email'})
					span.error-message This field is required.
			.fieldset
				label.label.appear(for="image1")
					span Shop’s Logo
				.fieldset__column
					.fieldset__column__img
						span
							i.icon-photo
							| Browse
						input(type="file" id="image1")
			.fieldset
				label.label.appear(for="image2")
					span Featured Image
				.fieldset__column
					.fieldset__column__img
						span
							i.icon-photo
							| Browse
						input(type="file" id="image2")
			.fieldset
				label.label
					span Opening Time
				.fieldset__column
					.fieldset__row
						.fieldset__col1
							+customSelect({id: 'openDateDdl'}, [
								{value: '', text: 'Please select an option'},
								{value: '7',text: '7 days / week'},
								{value: '6', text: '6 days / week'}
							])
						.fieldset__col2
							+input({id: 'openTime', placeholder: 'Open Time'})
						.fieldset__col2
							+input({id: 'closeTime', placeholder: 'Close Time'})
					span.error-message This field is required.
		button.button Register Seller
		p By submitting your application, you agree to our #[a(href="term.html") Term & Conditions] <br class="hidden-sm-down" />and confirm that the information you have provided is complete and accurate.


